<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/productinfo.css">
		<link rel="stylesheet" href="__CSS__/info5.css">
				<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="productinfo info5">
		<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

		<div class="container">

		<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text">首页</span>
				<span class="split">/</span>
				<span class="text">解决方案</span>
			</div>	
		</div>
		
		<div id="content" class="content">
			<div class="text">
				<div class="head">内窥镜方案</div>
				<div class="line"></div>
				<div class="english">Endoscope</div>
				
				<ul>
					<li>超微型内窥镜</li>
					<li>神外观察镜</li>
					<li>人流镜方案</li>
				</ul>
			</div>
			
			<div class="text">
				<div class="head">环境温湿度方案</div>
				<div class="line"></div>
				<div class="english">Ambient temperature and humidity</div>
				
				<ul>
					<li>智能冷链方案</li>
					<li>温湿度监测系统</li>
				</ul>
			</div>
			
			<div class="text">
				<div class="head">压力检测方案</div>
				<div class="line"></div>
				<div class="english">PRESSURE MONITORING</div>
				
				<ul>
					<li>输液监控</li>
					<li>颅内导管</li>
				</ul>
			</div>
		</div>
		
		
		<include file="./Application/Doctor/View/Global/footer.html" />
		
		</div>
	</body>
</html>
