<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/solution2.css">
		<link rel="stylesheet" href="__CSS__/solution.css">
				<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="solution2 solution">
		<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

	  <div class="container">
		
			<include file="./Application/Doctor/View/Global/head.html" />
		
		
		<div class="location">
			<div class="position">
				<span class="text">首页</span>
				<span class="split">/</span>
				<span class="text">解决方案</span>
				<span class="split">/</span>
				<span class="text">环境温湿度方案</span>
				<span class="split">/</span>
				<span class="text">展馆温湿度监测方案</span>
				<span class="split">/</span>
			</div>	
		</div>
		
		<div id="content" class="content">
			<div class="tab">
				<div class="kuan">
				<div class="name">
					<p class="cn">展馆温湿度监测系统</p>
					<p class="en">Temperature and humidity monitoring system</p>
				</div>
				
				<div class="slogn">创辉专注于高精度、稳定可靠的产品解决方案</div>
				
				<div class="useful">
					<div class="useful_line">
						<div>定制湿度传感器，确保高精度测量</div>
						<div>简易快捷的施工队客户现有场馆和日常活动没有任何影响</div>
					</div>
					<div class="useful_line">
						<div>定制传输芯片，保证通信稳定安全</div>
						<div>可为客户定制式用于中继的专用系统和界面</div>
					</div>
				</div>
				
				<div class="production">
					<div class="white">
						<div class="pic"><img src="__IMG__/label_bai.png"/></div>
						<div class="text">白色款</div>
					</div>
					
					<div class="black">
						<div class="text">灰色款</div>
						<div class="pic"><img src="__IMG__/label_hei.png"/></div>
					</div>
					
					<div class="gray">
						<div class="pic"><img src="__IMG__/label_hui.png"/></div>
						<div class="text">黑色款</div>
					</div>
				</div>
				
				
			  </div>
			</div>
			
			
			<div class="information1">
				<div class="text">
					<p class="bold">温湿度采集、无线传输功能，实时更新</p>
				    <p>同一中继器同时接受多个温度标签数据，可同时采集100个标签数据</p>
				    <p>同一个路由器支持多个中继器或标签的数据，可同时采集1000个标签数据</p>
				    
				    <p class="bold">标签防水，封装：ABS+PC，抗跌落和震动</p>
				    <p class="bold">标签与中及通讯距离：30米  中继与路由通讯距离：200米</p>
				    <p class="bold">测温范围：-20℃~60℃    测温精度：±0.3℃  测温分辨率：0.1℃</p>
				</div>
				<div class="pic">
					<div class="text">
						产品基本信息说明
					</div>
				</div>
			</div>
			
			
			<div class="information2">
				<!--<div class="text">
					<p class="bold">温湿度采集、无线传输功能，实时更新</p>
				    <p>同一中继器同时接受多个温度标签数据，可同时采集100个标签数据</p>
				    <p>同一个路由器支持多个中继器或标签的数据，可同时采集1000个标签数据</p>
				    
				    <p class="bold">标签防水，封装：ABS+PC，抗跌落和震动</p>
				    <p class="bold">标签与中及通讯距离：30米  中继与路由通讯距离：200米</p>
				    <p class="bold">测温范围：-20℃~60℃    测温精度：±0.3℃  测温分辨率：0.1℃</p>
				</div>-->
				<div class="pic">
					<div class="text">
						产品规格大小说明
					</div>
				</div>
				
				<div class="piclist">
					<img src="__IMG__/piclist.png"/>
					<div class="text_list">
						<div class="text_item">固定中继模块电路尺寸约为50*60mm</div>
						<div class="text_item">标签直径在1/2张标准卡内，厚度不超过8mm</div>
					</div>
					<!--<div class="pic_item">
						<div class="picture"><img src="__IMG__/"/></div>
						<div class="text"></div>
					</div>
					<div class="pic_item">
						<div class="picture"></div>
						<div class="text"></div>
					</div>
					<div class="pic_item">
						<div class="picture"></div>
						<div class="text"></div>
					</div>-->
					
				</div>
			</div>
			
			
			<div class="information3">
				<div class="kuang">
					<div class="head">系统结构</div>
					<div class="slogn">展馆温湿度实时监控系统由标签、中继、路由器、云服务器、pc端或移动端组成</div>
					<div class="text">
						<p>The real time monitoring system of temperature and humidity in the exhibition hall is</p>
						<p>composed of a tag, a relay, a router,a cloud server,a PC terminal</p>
						<p>or a mobile terminal</p>
					</div>
				</div>
			</div>
			
			
			<div class="information4">
				<img src="__IMG__/route.png"/>
			</div>
			
			<div class="information5">
				<div class="line left"></div>
				<div class="text">展馆温湿度监控系统界面</div>
				<div class="line right"></div>
			</div>
			
			<div class="information6">
				<img src="__IMG__/monitor.png"/>
			</div>
			
			<div class="information7">
				<div class="kuang">
					<div class="title">应用图</div>
					<div class="text">黑白灰三种不同的标签，不破坏产品美感，融入环境，实时监测环境的温度和湿度</div>
				</div>
			</div>
			
			<div class="information8">
				<img src="__IMG__/actual.png"/>
				<div class="text">
					<table><th><td>展馆温湿度监测系统</td></th></table>
				</div>
			</div>
		</div>
		
         <include file="./Application/Doctor/View/Global/footer.html" />		


		</div>
	</body>
</html>
