<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创辉医疗电子设备-解决方案</title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/solution3.css">
		<link rel="stylesheet" href="__CSS__/solution.css">
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="solution solution3">
		<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

		<div class="container">
		
			<include file="./Application/Doctor/View/Global/head.html" />
		
		<div  class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Solution/solutionmain','','')}">解决方案</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Solution/solutionmain','','')}">环境温湿度方案</a></span>
				<span class="split">/</span>
				<span class="text">智能冷链方案</span>
				<span class="split">/</span>
			</div>	
		</div>
		
		
		<div id="content" class="content">
			<div class="tab">
				<img src="__IMG__/tuopu.png"/>
				<div class="biaoqian1">
					标签
				</div>
				<div class="biaoqian2">
					标签
				</div>
				<div class="biaoqian3">
					标签
				</div>
				<div class="cangchu">
					仓储固定中继
				</div>
				<div class="chezai">
					车载固定中继
				</div>
				<div class="yunshu">
					运输车网关
				</div>
				<div class="cangwang">
					仓储网关
				</div>
				<div class="shouchi">
					手持网关
				</div>
				<div class="yunfuwuqi">
					云服务器
				</div>
				<div class="text">
					<img src="__IMG__/poster_circle.png"/> 
					<div class="title"><p>冷链</p><p>物流</p></div>
					<div class="t1">智能冷链</div>
				    <div class="t2">监控系统</div>
				    <div class="l1">也要健康</div>
				    <div class="l2">生活要享受</div>
				</div>
				<!-- <img class="text" src="__IMG__/lenlian_text.png"/> -->
<!-- 				<div class="kuan">
					<div class="text">
						<div class="title">冷链系统</div>
						<div class="name">
							<p>智能冷链</p>
							<p>监控系统</p>
						</div>
						<div class="slogn">
							<div >生活</div>
						</div>
					</div>
				</div> -->
			</div>
			
			<div class="function">
				<div class="pic">
					<p>低温物流的核心</p>
					<p>冷藏运输</p>
				</div>
				
				<div class="pic_list">
					<div class="pic_item"><img src="__IMG__/yimiao.png"/></div>
					<div class="pic_item"><img src="__IMG__/pale.png"/></div>
					<div class="pic_item">
						<img src="__IMG__/system.png"/>
						<div class="sys_text">智能冷链系统</div>
					</div>
					<div class="pic_item"><img src="__IMG__/fruit.png"/></div>
				</div>
				
			</div>
			
			<div class="introduce">
				<div class="pic"><img src="__IMG__/plane.png"/></div>
				
				<div class="split"><img src="__IMG__/split.png" /></div>
				
				<div class="information">
					<div class="pic"><img src="__IMG__/plane_empty.png"/>
						<div class="text">
							<p><label>TRANSPORT</label><label>  </label><label>AVIATION</label></p>
							<p>航空运输</p>
						</div>
					</div>
					
					<div class="name">
						<p class="cn">智能冷链系统</p>
						<p class="en">INTELIGENT COLD CHAIN SYSTEM</p>
					</div>
					
					<div class="useful">
						<p class="">适用于鲜活易腐产品</p>
						<p class="">摄影胶片、化学品、药品</p>
					</div>
					
					<div class="description">
						<p>我们定制适用于航空冷链的温湿度监控系统</p>
						<p>根据航空运输需求定制外观、系统、管理界面</p>
					</div>
				</div>
				
			</div>
			
			<div class="introduce1">
				<div class="pic"><img src="__IMG__/ship.png"/></div>
				<div class="text">
						<p class="cn">智能冷链系统</p>
						<p class="en">INTELIGENT COLD CHAIN SYSTEM</p>
				</div>
				
				<div class="pic_list">
					<div class="pic">
						<img src="__IMG__/shuilu_text.png"/>
						<div class="text">
							<p><label>WATERWAY</label><label>  </label><label>TRANSPORT</label></p>
							<p>水路运输</p>
						</div>

						<div class="t1">我们定制适用于轮船冷链的</div>
						<div class="t2">温湿度监控系统,根据水路</div>
						<div class="t3">运输需求定制外观、系统、</div>
						<div class="t4">管理界面。</div>
						<!-- <img src="__IMG__/ship_back.png"/> -->
					</div>
					<div class="text">
						<div class="circle">
							<div class="normal">适合运输：牛肉、海产等大宗食品，适合在夏天运输黄油，巧克力，冷冻鱼肉，炼乳，人造奶油等物品</div>
							<div class="note">也适用于LNG超级冷冻船</div>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="introduce2">
				<div class="split"><img src="__IMG__/split.png" /></div>
							
				<div class="information">
					<div class="pic">
						<img src="__IMG__/train_logo.png"/>
						<div class="text">
							<p><label>RAILWAY</label><label>  </label><label>TRANSPORT</label></p>
							<p>铁路运输</p>
						</div>
					</div>
					
					<div class="name">
						<p class="cn">智能冷链系统</p>
						<p class="en">INTELIGENT COLD CHAIN SYSTEM</p>
					</div>
					
					<div class="useful">
						<p class="">适用于:有机冷车、冰冷车和冷班车，深冷的水产品，冷饮、速冷食品、乳制品、水果、花卉等易腐货物都是铁路冷藏运输市场目标</p>
						<!--<p class="">摄影胶片、化学品、药品</p>-->
					</div>
					
					<div class="description">
						<p>我们定制适用于航空冷链的温湿度监控系统</p>
						<p>根据航空运输需求定制外观、系统、管理界面</p>
					</div>
					
				</div>
				
				<div class="pic"><img src="__IMG__/train.png"/></div>
				
			</div>
			
			<div class="introduce3">
				<div class="pic_list">
					<div class="text">
						<div class="circle">
							<div class="normal">适合运输：蔬菜、水果；肉、禽、蛋；水产品、花卉产品；速冻食品、禽、肉、水产等包装熟食、冰激凌和奶制品，快餐原料</div>
							<div class="note">低温、快捷、健康</div>
						</div>
					</div>
					<div class="pic">
						<img src="__IMG__/road_text.png"/>
						<div class="text">
							<p><label>ROAD</label><label>  </label><label>TRANSPORT</label></p>
							<p>公路运输</p>
						</div>
						<div class="t1">我们定制适用于货车冷链的温湿度监控系统</div>
						<div class="t2">根据公路运输需求定制外观、系统、管理界面</div>
					</div>
				</div>
			</div>
			
			<div class="introduce4">
				<div class="title">
					<p class="cn">智能冷链系统</p>
					<p class="en">INTELIGENT COLD CHAIN SYSTEM</p>
				</div>
				<div class="pic"><img src="__IMG__/track.png"/></div>
			</div>
			
			
			<div class="kuang">
				<div class="title">当今市场对冷链物流的现状</div>
				<div class="text">
					<p>冷链物流的运输牵涉到几百种物品。不同的物品对温度和车辆配置要求都</p>
					<p>不尽相同。冷链物流温湿度监控系统可实时监控物品所属环境温湿度</p>
					<div class="ps_list">
						<div class="ps_item">可自行设定报警温度，当温湿度设定超过设定限度的时候可自动报警</div>
						<div class="ps_item">自动记录物品环境温湿度，可根据历史数据对相关环节追责</div>
					</div>
				</div>
			</div>
			
			<div class="introduce5">
				<div class="text">
					<div class="function_intro">标签端具备本地记录及历史纪录数据无线传输功能分为三种工作模式</div>
					<div class="function_list">
						<div class="function_item">记录不上抛</div>
						<div class="function_item">实时上抛不记录</div>
						<div class="function_item">记录并上抛模式</div>
					</div>
				</div>
				<div class="table">
					<!-- <img src="__IMG__/data.png"/> -->
					<table border="1px">
						<tr>
 							<td></td>
 							<td>标签</td>
 							<td>中继或router</td>
 							<td>通信速度</td>
 							<td>标签功耗</td>
						</tr>
						<tr>
							<td>记录不上抛</td>
 							<td>被动，定时唤醒侦听</td>
 							<td>标签处于此状态需主动发起唤醒广播</td>
 							<td>控制100个标签进入或退出该模式需1分钟</td>
 							<td>续航半年</td>
						</tr>
						<tr>
 							<td>实时上抛不记录/记录并上抛</td>
 							<td>顶起接收反馈控制，本地记录</td>
 							<td>接收数据，并给反馈包，包含控制信息</td>
 							<td>每40秒钟客队至多100个标签扫描一遍</td>
 							<td>定时上抛周期15s时续航约半年</td>
						</tr>
						<tr>
							<td>数据批量同步</td>
 							<td>批量上抛数据，其它标签将被阻塞</td>
 							<td>连续接收同一标签数据</td>
 							<td>10秒约1000~2000条，和信道环境有关</td>
 							<td>快速缩短电池寿命</td>
						</tr>
					</table>
				</div>
			</div>
			
			<div class="introduce6">
				<!-- <div class="pic"><img src="__IMG__/canshu.png"/></div> -->
				<div class="title">技术规格参数：</div>

				<div>标签（含电路板和电池）尺寸控制在1/2张标准卡内，厚度不超过10mm</div>
				<div>固定中继模块电路尺寸为50*60mm,车载和特殊仓储(冷柜等)固定中继可根据需求定制(可以定制，需要考虑天线位置)</div>

				<div>
					<div class="title">标签防水，封装</div>
					<div>ABS+PC,抗跌落和震动</div>
				</div>

				<div>
					<div class="title">无线通讯距离：</div>
					<div>标签和中继通讯距离30米；中继和路由通讯距离：100米</div>
				</div>

				<div>
					<div class="title">测温范围：</div>
					<div>-20℃~60℃</div>
				</div>

				<div>
					<div class="title">测温精度：</div><div>±0.3℃</div>
				</div>

				<div>
					<div class="title">测温分辨率：</div><div>0.1℃</div>
				</div>

				<div>
					<div class="title">基本功能：</div><div>中继对标签的扫描速度:每20秒钟可对至多50个标签扫描一遍中继可以制定上抛历史数据最多6000条</div>
				</div>
			</div>
		</div>
		
		<div class="sidebar">
        	<a href="{:U('Doctor/Productinfo/ProductInfo','','')}" class="sidetitle">产品</a>
        	<ul>
        		<li><a href="../Productinfo/info2.html">可视喉镜</a></li>
        		<li><a href="../Productinfo/info4.html">体温贴</a></li>
        		<li><a href="../Productinfo/info1.html">肺功能计</a></li>
        		<li><a href="../Productinfo/info5.html">雾化器</a></li>
        	</ul>
        	<a href="{:U('Doctor/Solution/solutionmain','','')}" class="sidetitle">解决方案</a>
        	<ul>
        		<li><a href="../Solution/solution1.html">内窥镜</a></li>
        		<li><a href="../Solution/solution2.html">环境监控</a></li>
        		<li><a href="../Productinfo/info3.html">压力监测</a></li>
        		<li><a href="../Solution/solution3.html"class="stronger">冷链监控</a></li>
        	</ul>
        </div>
         <include file="./Application/Doctor/View/Global/footer.html" />
         
		</div>
	</body>
</html>
