<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创辉医疗电子设备-解决方案</title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/solution1.css">
		<link rel="stylesheet" href="__CSS__/solution.css">
				<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="solution solution1">
		<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

		<div class="container">
		
			<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Solution/solutionmain','','')}">解决方案</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Solution/solutionmain','','')}">内窥镜方案</a></span>
				<span class="split">/</span>
				<span class="text">超微型内窥镜</span>
				<span class="split">/</span>
			</div>	
		</div>

        <div id="content" class="content">
        	<div class="tab">
        		<img src="__IMG__/solution_poster.png"/>
                        <div class="text">超微型内窥镜</div>
                        <div class="text_en">ULTRA MICRO ENDOSCOPE</div>
        		<!-- <img class="text" src="__IMG__/neikui_text.png"/> -->
        		<div class="name">
        			<p>16万像素  直径1.6mm不带光源</p>
        			<p>超细电子内窥镜</p>
        		</div>
        	</div>
        	
        	<div class="slogn">
        		<div class="line left"></div>
        		<div class="text left">
        			<p class="cn">将先进的电子医疗技术用于健康</p>
        			<p class="en">APPLY ADVANCED ELECTRONIC MEDICAL TECHNOLOGY TO HEALTH</p>
        		</div>
        		<div class="line right"></div>
        	</div>
        	
        	<div class="introduction">
        		<div class="slide slide1 left">
        			<div class="pic"></div>
        			<div class="text">
        				<table>
        					<tr>
        						<td>内窥镜手术在取代开放创口型手术时，将减少病人术后痛苦，提升复原速度。有效减轻病人负担，这正是微创型可是手术流行的原因</td>
        					</tr>
        				</table>
        				<!---->
        			<!--　   <table>
					　　<tr>
					　　        <td></td>
					　　</tr>
					　　</table>-->
        			</div>
        		</div>
        		<div class="slide slide2 right">
        			<div class="text">
        				<table>
        					<tr>
        						<td>采用内窥镜手术来摘除体内肿瘤和其他病灶已经日益普遍。该手术仅从切口插入一个内窥镜，以及根据其他特定用途的工具，例如动力装置和手执设备</td>
        					</tr>
        				</table>
        			<!--　   <table>
					　　<tr>
					　　        <td>采用内窥镜手术来摘除体内肿瘤和其他病兆已经日益普遍。该手术仅从切口插入一个内窥镜，以及根据其他特定用途的工具，例如动力装置和手执设备</td>
					　　</tr>
					　　</table>-->
        			</div>

        			<div class="pic"></div>  			
        		</div>
        	</div>
        	
        	<div class="information">
        		<div class="text">
        			<p class="cn">超细电子内窥镜</p>
        			<p class="en">SCIENCE AND TECHNOLOGY TO PROJECT THE HEALTH OF LIFE</p>
        		</div>
        		
        		<div class="pic">
        			<div class="pic1"><img src="__IMG__/neikui1.png" /></div>
        			<div class="pic2"><img src="__IMG__/neikui2.png"/></div>
        			<div class="pic3"><img src="__IMG__/neikui3.png"/></div>
        		</div>
        		
        	    <div class="name">16万像素 直径1.6mm不带光源 超细电子内窥镜</div>
        		
        	</div>
        	
        	<div class="banner">
        		<div class="kuan">
        			<div class="line left"></div>
        			<div class="text">
        				<p class="cn">精细之美</p>
        				<p class="en">THE HEALTH OF YOUR PARTNER</p>
        			</div>
        			<div class="line right">
        				
        			</div>
        		</div>
        	</div>
        	
        	<div class="intro_detail">
        		<div class="detail_item detail_item1">
        			<div class="pic left"></div>
        			<div class="text right">
        				<table>
        					<tr>
        						<td>清晰的，超高分辨率的画面，可在外科手术中有效提升可视度</td>
        					</tr>
        				</table>
        			</div>
        		</div>
        		
        		<div class="detail_item detail_item2">
        			<div class="pic"></div>
        			<div class="text">
        				<table>
        					<tr>
        						<td>优秀的色彩还原提升精细组织识别度，可以协助外科医生识别边界和精细组织结构的细节，比如血管，神经，淋巴管和脂肪组织</td>
        					</tr>
        				</table>
        			</div>
        		</div>
        		
        		<div class="detail_item detail_item3">
        			<div class="pic right"></div>
        			<div class="text left">
        				<table>
        					<tr>
        						<td>大屏幕监视器和可放大的可视化设备助力外科手术过程，可以使得外科医生在一定距离以外使用那个内窥镜，可将从切口处插入的手用器械的干扰降至最低。</td>
        					</tr>
        				</table>
        			</div>
        		</div>
        		
        		
        	</div>
        	
        	
        	<div class="pic_detail">
        		<div class="title">
        			<div class="line left"></div>
        			<div class="text">传感部分</div>
        			<div class="line right"></div>
        		</div>
        		
        		<div class="pic_line">
	        		<div class="pic_item pic1">
	        			<div class="pic"><img src="__IMG__/sensor1.png"/></div>
	        			<div class="text">内窥镜头与传感器连接图</div>
	        		</div>
        		</div>
        		
        		<div class="pic_line">
	        		<div class="pic_item pic2">
	        			<div class="pic"><img src="__IMG__/sensor_zheng.png"/></div>
	        			<div class="text">传感器正面</div>
	        		</div>
	        		
	        		<div class="pic_item pic3">
	        			<div class="pic"><img src="__IMG__/sensor_bei.png"/></div>
	        			<div class="text">传感器反面</div>
	        		</div>
        		</div>
        		
        		<div clas="pic_line">
	        		<div class="pic_item pic4">
	        			<div class="pic"><img src="__IMG__/sensor_implement.png"/></div>
	        			<div class="text">传感器和内窥镜接口细节</div>
	        		</div>
	        		
	        		<div class="pic_item pic5">
	        			<div class="pic"><img src="__IMG__/sensor_usb.png"/></div>
	        			<div class="text">传感器接口细节</div>
	        		</div>
        		</div>
        		
        	</div>
        	
        </div>
        <div class="sidebar">
        	<a href="{:U('Doctor/Productinfo/ProductInfo','','')}" class="sidetitle">产品</a>
        	<ul>
        		<li><a href="../Productinfo/info2.html">可视喉镜</a></li>
        		<li><a href="../Productinfo/info4.html">体温贴</a></li>
        		<li><a href="../Productinfo/info1.html">肺功能计</a></li>
        		<li><a href="../Productinfo/info5.html">雾化器</a></li>
        	</ul>
        	<a href="{:U('Doctor/Solution/solutionmain','','')}" class="sidetitle">解决方案</a>
        	<ul>
        		<li><a href="../Solution/solution1.html" class="stronger">内窥镜</a></li>
        		<li><a href="../Solution/solution2.html">环境监控</a></li>
        		<li><a href="../Productinfo/info3.html">压力监测</a></li>
        		<li><a href="../Solution/solution3.html">冷链监控</a></li>
        	</ul>
        </div>

		<include file="./Application/Doctor/View/Global/footer.html" />
		
	</div>
	</body>
</html>
