<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创辉医疗电子设备-解决方案</title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/productinfo.css">
		<link rel="stylesheet" href="__CSS__/info5.css">
				<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="productinfo info5">
		<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

		<div class="container">

		<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Solution/solutionmain','','')}">解决方案</a></span>
			</div>	
		</div>
		
		<div id="content" class="content">
			<div class="text">
				<div class="head">内窥镜方案</div>
				<div class="line"></div>
				<div class="english">Endoscope</div>
				
				<ul>
					<li>超微型内窥镜</li>
					<li>神外观察镜</li>
					<li>人流镜方案</li>
				</ul>
			</div>
			
			<div class="text">
				<div class="head">环境温湿度方案</div>
				<div class="line"></div>
				<div class="english">Ambient temperature and humidity</div>
				
				<ul>
					<li>智能冷链方案</li>
					<li>温湿度监测系统</li>
				</ul>
			</div>
			
			<div class="text">
				<div class="head">压力检测方案</div>
				<div class="line"></div>
				<div class="english">PRESSURE MONITORING</div>
				
				<ul>
					<li>输液监控</li>
					<li>颅内导管</li>
				</ul>
			</div>
		</div>
		
		<div class="sidebar">
        	<a href="{:U('Doctor/Productinfo/ProductInfo','','')}" class="sidetitle">产品</a>
        	<ul>
        		<li><a href="../Productinfo/info2.html">可视喉镜</a></li>
        		<li><a href="../Productinfo/info4.html">体温贴</a></li>
        		<li><a href="../Productinfo/info1.html">肺功能计</a></li>
        		<li><a href="../Productinfo/info5.html">雾化器</a></li>
        	</ul>
        	<a href="{:U('Doctor/Solution/solutionmain','','')}" class="sidetitle">解决方案</a>
        	<ul>
        		<li><a href="../Solution/solution1.html" class="stronger">内窥镜</a></li>
        		<li><a href="../Solution/solution2.html">环境监控</a></li>
        		<li><a href="../Productinfo/info3.html">压力监测</a></li>
        		<li><a href="../Solution/solution3.html">冷链监控</a></li>
        	</ul>
        </div>
		<include file="./Application/Doctor/View/Global/footer.html" />
		
		</div>
	</body>
</html>
