<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/productinfo.css">
		<link rel="stylesheet" href="__CSS__/info3.css">
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="productinfo info3">
		<div class="container">
	
	    <include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text">首页</span>
				<span class="split">/</span>
				<span class="text">解决方案</span>
				<span class="split">/</span>
				<span class="text">压力测量方案</span>
				<span class="split">/</span>
				<span class="text">输液监控</span>
				<span class="split">/</span>
			</div>	
		</div>
		
		
		<div id="content" class="content">
			<div class="tab"><img src="__IMG__/shuye2.png"/></div>
		    <div class="question">
		    	<div class="pic">
			    	<div class="line left"></div>
			    	<div class="kuang">你是否遇到以下问题</div>
			    	<div class="line right"></div>
		    	</div>
		    	<div class="text">YOU WILL CNFRONT SOME PROBLEMS</div>
		    </div>
		    
		    <div class="problemlist">
		    	<div class="problem">
		    		<div class="pic">
		    			<img src="__IMG__/blood.png" />
		    		</div>
		    		<div class="text">
		    			输液时回血
		    		</div>
		    	</div>
		    	
		    	<div class="problem">
		    		<div class="pic">
		    			<img src="__IMG__/sleep.png" />
		    		</div>
		    		<div class="text">
		    			压力太大，输液睡着
		    		</div>
		    	</div>
		    	
		    	<div class="problem">
		    		<div class="pic">
		    			<img src="__IMG__/work.png" />
		    		</div>
		    		<div class="text">
		    			输液顾着忙工作
		    		</div>
		    	</div>
		    	
		    	<div class="problem">
		    		<div class="pic">
		    			<img src="__IMG__/read.png" />
		    		</div>
		    		<div class="text">
		    			输液时要专心读书
		    		</div>
		    	</div>
		    </div>
			
			<div class="data_text">
				<div class="line left"></div>
				<div class="text">压力检测方案：输液监控数据</div>
				<div class="line right"></div>
			</div>
			
			<div class="sample sample_1"><img src="__IMG__/cinfo.png"></div>
			<div class="sample sample_2">实时监控、集中管理、异常提醒</div>

            <div class="feature">
            	<div class="kuang">
            		<div class="head">我们的特点</div>
            		<div class="text">We give you the satisfaction of the choice of reason</div>
            	</div>

            </div>
            <div  class="feature_slogn">智能输液监控系统由可抛弃输液终端，网络中继器，云服务器，护士站终端系统组成</div>
            
            <div class="feature_list">
            	<div class="feature_item">	<table><th><td>
						该系统可定制传输芯片采用无线通信传输，确保传输安全和稳定
					</td></th></table></div>
            	<div class="feature_item"><table><th><td>
						定制传感器，确保高精准度测量和监控，护士有效监控输液点流量情况
					</td></th></table></div>
            	<div class="feature_item"><table><th><td>
						实时监控，能够在护士站终端系统集中监控和管理输液液体流苏，液体余量，有无异常
					</td></th></table></div>
            	<div class="feature_item"><table><th><td>
						主动报警系统，书也快完成时发出警报，提醒护士及时关注
					</td></th></table></div>
            </div>
			
			<div class="feature_detail_list">
            	<div class="feature_detail_item item_detail_1">
            		<img src="__IMG__/feature1.png" />
            		<div class="text">精确自动监测液体流速</div>
                </div>
            	<div class="feature_detail_item  item_detail_2">
            		<img class="right" src="__IMG__/feature2.png" />
            		<div class="text left"><p>液体流速异常提示</p><p>气泡异常提醒</p><p>液体回流提醒</p></div>
            	</div>
            	<div class="feature_detail_item  item_detail_3">
            		<div class="text">定量输液，智能管理</div>
            		<img src="__IMG__/feature3.png" />
                </div>
            	<div class="feature_detail_item  item_detail_4">
            		<img class="left" src="__IMG__/feature4.png" />
            		<div class="text right"><p>多个书页信息点集中管理</p><p>主动报警提示护士</p></div>
            	</div>
            </div>
			
		</div>
		
		
         <include file="./Application/Doctor/View/Global/footer.html" />

		</div>
	</body>
</html>
