<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/productinfo.css">
		<link rel="stylesheet" href="__CSS__/info2.css">
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="productinfo info2">
		<div class="container">
			
		<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text">首页</span>
				<span class="split">/</span>
				<span class="text">产品信息</span>
				<span class="split">/</span>
				<span class="text">电子内窥镜</span>
				<span class="split">/</span>
				<span class="text">喉镜</span>
				<span class="split">/</span>
			</div>	
		</div>
		
		
		<div id="content" class="content">
			
			<!--<div class="diamond">
				<div class="head"></div>
				<div class="text"></div>
			</div>
			
			<div class="productinfo">
				<div class="picture"></div>
				<div class="text"></div>
			</div>
			-->
			
			<div class="together">
				<div class="back"><img src="__IMG__/houbac.png"/></div>
				<div class="diamond">
					<div class="head"><label>首次亮相</label>&nbsp;&nbsp;&nbsp;&nbsp;<label>给你答案</label></div>
					<div class="text"><label>创辉医疗</label> &nbsp;&nbsp;<label>可视喉镜</label></div>
				</div>
				
				
				<div class="information">
					<div class="picturelist">
						<div><img src="__IMG__/pp1.png"/></div>
						<div class="current"><img src="__IMG__/pp2.png"/></div>
						<div><img src="__IMG__/pp3.png"/></div>
					</div>
				</div>
			</div>
			
			<div class="intro">
				每一次创新都是对健康的负责
			</div>
			
			
			<div class="deadline">
				<div class="text ll">还要</div>
				<div class="time mm"><img src="__IMG__/num/4.png" /></div>
				<div class="text rr">天</div>
			</div>
			
			<div class="name">
				<label>创辉医疗</label><label>●</label><label>可视喉镜</label>
			</div>
			
		</div>
		
		
         <include file="./Application/Doctor/View/Global/footer.html" />

		</div>
	</body>
</html>
