<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/productinfo.css">
		<link rel="stylesheet" href="__CSS__/info5.css">
	</head>
	<body class="productinfo info5">
		<div class="container">
		
		<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Productinfo/ProductInfo','','')}">产品信息</a></span>
				<span class="split">/</span>
				<span class="text">雾化器</span>
				
			</div>	
		</div>
		
		<div class="content">
			<div class="bigpic">
				<div id="imgContainer">
					<img src="__IMG__/childer.png"/>
				</div>
			</div>
				<div class="paraContainer">
					<div class="para1">
						<div class="bigtitle">
							<span>雾化器</span>
						</div>
						<div class="leftpic">
							<img src="__IMG__/wuhuaqi1.png"/>
						</div>
						<div class="righttext">
							<p>手持操作，无需医护人员帮助，躺着也能做雾化 </br>一体化设计，无需拆卸 </br>低耗电，无噪音 </br>无需拆卸，方便清洗</p>
						</div>
					</div>
					<div class="para2">
						<div class="lefttext">
							<p>雾化器将药物通过呼吸吸入的方式进入呼吸道和肺部 </br>实现无痛、快速、有效治疗上下呼吸系统疾病</p>
						</div>
						<div class="rightpic">
							<img src="__IMG__/xiaopihai2.png"/>
						</div>
					</div>
					<div class="para3">
						<div class="mtitle">
							<span>性能参数</span>
						</div>
						<div class="functext colored">
							药液杯容量：8ml
						</div>
						<div class="functext">
							 雾化率：0.25ml/min-0.9ml/min
						</div>
						<div class="functext colored">
							 功率：＜4.0w 
						</div>
						
					</div>
				</div>
			
			  
		</div>
		<div class="sidebar">
        	<a href="{:U('Doctor/Productinfo/ProductInfo','','')}" class="sidetitle">产品</a>
        	<ul>
        		<li><a href="../Productinfo/info2.html">可视喉镜</a></li>
        		<li><a href="../Productinfo/info4.html">体温贴</a></li>
        		<li><a href="../Productinfo/info1.html">肺功能计</a></li>
        	</ul>
        	<a href="{:U('Doctor/Solution/solutionmain','','')}" class="sidetitle">解决方案</a>
        	<ul>
        		<li><a href="../Solution/solution1.html" class="stronger">内窥镜</a></li>
        		<li><a href="../Solution/solution2.html">环境监控</a></li>
        		<li><a href="../Productinfo/info3.html">压力监测</a></li>
        		<li><a href="../Solution/solution3.html">冷链监控</a></li>
        	</ul>
        </div>
	
	<include file="./Application/Doctor/View/Global/footer.html" />
	
		</div>
	</body>
</html>
