<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创辉医疗电子设备-产品信息</title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/productinfo.css">
		<link rel="stylesheet" href="__CSS__/info7.css">
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__CSS__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="productinfo info7">
		<div class="container">
			
		<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Productinfo/ProductInfo','','')}">产品信息</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Productinfo/ProductInfo','','')}">可穿戴体征监测</a></span>
				<span class="split">/</span>
				<span class="text">家庭用无线体温监测系统</span>
				<span class="split">/</span>
			</div>	
		</div>
		
		<div id="content" class="content">
			<div class="box">
				<div class="above">
					<img src="__IMG__/domesticpic.png"/>
					<div class="title">
						家庭用无线体温监测系统
					</div>
				</div>
				
				
			</div>
            
            <div class="para1">
            	<ul class="nav nav-tabs chose_tab">
            		<li class="active">
            			<a href="#forchild" data-toggle="tab">
            				通用型
            			</a>
            		</li>
            		<li>
            			<a href="#forfemale" data-toggle="tab">
            				备孕型
            			</a>
            		</li>
            	</ul>
            	<div class="tab-content">
            		<div id="forchild" class="content tab-pane fade active in">
            			<img src="__IMG__/forchild.png"/>
            			<div class="childtext">
            				<div class="text">
            					实时监测，24小时候记录体温，无需人工测量
            				</div>
            				<div class="text">
            					 高精准度，精准记录细微的温度变化
            				</div>
            				<div class="text">
            					智能报警，体温超过设定的温度值时自动报警
            				</div>
            				<div class="text">
            					材质舒适，生物兼容材料呵护幼儿肌肤
            				</div>
            			</div>
            		</div>
            		<div id="forfemale" class="content tab-pane fade ">
            			<img src="__IMG__/forfemale.png"/>
            			<div class="childtext">
            				<div class="text">
            					实时监测，24小时候记录体温，无需人工测量
            				</div>
            				<div class="text">
            					 高精准度，精准记录细微的温度变化
            				</div>
            				<div class="text">
            					备孕提醒，记录生理周期，排卵提醒
            				</div>
            				<div class="text">
            					材质舒适，生物兼容材料呵护肌肤
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
            <div class="para2">
            	<div class="title">
            		<span>家庭用无线体温监测系统</span>
            	</div>
            	<div class="contents">
            		<div class="twopic">
            			<img class="first" src="__IMG__/forchild.png"/>
            			<img class="second" src="__IMG__/aphone.png"/>
            		</div>
            		<div class="paragraph">
            			<div class="lines">
            				体温贴与手机单额通信距离为10米
            			</div>
            			<div class="lines">
            				手机app实时监测和显示体温
            			</div>
            			<div class="lines">
            				手机app实时绘制温度变化曲线
            			</div>
            		</div>
            	</div>
            </div>
            <div class="para3">
            	<div class="title">
            		具体参数
            	</div>
            	<div class="bigpic">
            		<div class="lines one">
            			标签尺寸：厚6.3mm，宽30.2mm，长42.56mm
            		</div>
            		<div class="lines two">
            			温度显示范围：32.0℃ ~ 42.9℃（89.6℉ ~ 109.2℉ )
            		</div>
            		<div class="lines three">
            			温度分辨力：≤0.1℃
            		</div>
            		<div class="lines four">
            			温度显示范围及允许最大误差
            		</div>
            		<div class="lines five">
            			电池续航，支持两周
            		</div>
            		<div class="shittube">
            			<div class="line1">
            				37.0℃~39.0℃       ±0.1℃
            			</div>
            			<div class="line1">
            				39.1℃~41.0℃       ±0.2℃
            			</div>
            			<div class="line1">
            				41.1℃~42.9℃       ±0.3℃
            			</div>
            		</div>
            	</div>
            </div>
		</div>
		<div class="sidebar visible-lg">
        	<a href="{:U('Doctor/Productinfo/productmain','','')}" class="sidetitle">产品</a>
        	<ul>
        		<li><a href="../Productinfo/info2.html">可视喉镜</a></li>
        		<li><a href="../Productinfo/info6.html">人流镜</a></li>
        		<li><a href="../Productinfo/info4.html">医用体温贴</a></li>
        		<li><a href="../Productinfo/info7.html"class="stronger">家庭体温贴</a></li>
        		<li><a href="../Productinfo/info1.html">肺功能计</a></li>
        		<li><a href="../Productinfo/info5.html">雾化器</a></li>
        	</ul>
        	<a href="{:U('Doctor/Solution/solutionmain','','')}" class="sidetitle">解决方案</a>
        	<ul>
        		<li><a href="../Solution/solution1.html" >内窥镜</a></li>
        		<li><a href="../Solution/solution2.html">环境监控</a></li>
        		<li><a href="../Productinfo/info3.html">压力监测</a></li>
        		<li><a href="../Solution/solution3.html">冷链监控</a></li>
        	</ul>
        </div>
	<include file="./Application/Doctor/View/Global/footer.html" />
	
		</div>
	</body>
</html>
