<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/productinfo.css">
		<link rel="stylesheet" href="__CSS__/info1.css">
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="productinfo info1">
		<div class="container">
	
	<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text">首页</span>
				<span class="split">/</span>
				<span class="text">产品信息</span>
				<span class="split">/</span>
				<span class="text">压力监测</span>
				<span class="split">/</span>
				<span class="text">肺功能计</span>
				<span class="split">/</span>
			</div>	
		</div>
		
		<div id="content" class="content">
			<div class="deadline">
				<div class="text ll">还要</div>
				<div class="time mm"><img src="__IMG__/num/4.png" /></div>
				<div class="text rr">天</div>
			</div>
			
			<div class="intro">
				<div class="circle"><img  src="__IMG__/feiproduct1.png"/></div>
				<div class="circle"><img  src="__IMG__/feiproduct2.png"/></div>
				<div class="circle"><img  src="__IMG__/feiproduct3.png"/></div>
				
				<div class="text"><label>杭州创辉电子医疗设备</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>.</label><label>肺功能计</label></div>
			</div>
			
			<div class="together">
				<div class="diamond">
					<div class="head"><label>首次亮相</label>&nbsp;&nbsp;&nbsp;&nbsp;<label>给你答案</label></div>
					<div class="text">每一次等待都是我们对健康的保证</div>
				</div>
				
				
				<div class="productinfo">
					<div class="picture">
						<img src="__IMG__/product.png"/>
					    <div class="text"><label>创辉医疗</label><label> </label><label>肺功能计</label></div>
					</div>
				</div>
			</div>
		</div>
		<div class="sidebar">
        	<a href="{:U('Doctor/Productinfo/ProductInfo','','')}" class="sidetitle">产品</a>
        	<ul>
        		<li><a href="../Productinfo/info2.html">可视喉镜</a></li>
        		<li><a href="../Productinfo/info4.html">体温贴</a></li>
        		<li><a href="../Productinfo/info1.html"class="stronger">肺功能计</a></li>
        	</ul>
        	<a href="{:U('Doctor/Solution/solutionmain','','')}" class="sidetitle">解决方案</a>
        	<ul>
        		<li><a href="../Solution/solution1.html">内窥镜</a></li>
        		<li><a href="../Solution/solution2.html">环境监控</a></li>
        		<li><a href="../Productinfo/info3.html">压力监测</a></li>
        		<li><a href="../Solution/solution3.html">冷链监控</a></li>
        	</ul>
        </div>
		
		<include file="./Application/Doctor/View/Global/footer.html" />
		
		</div>
	</body>
</html>
