<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创辉医疗电子设备-产品信息</title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/productinfo.css">
		<link rel="stylesheet" href="__CSS__/info2.css">
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="productinfo info2">
		<div class="container">
			
		<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Productinfo/ProductInfo','','')}">产品信息</a></span>
				<span class="split">/</span>
				<span class="text">电子内窥镜</span>
				<span class="split">/</span>
				<span class="text">喉镜</span>
				<span class="split">/</span>
			</div>	
		</div>
		
		
		<div id="content" class="content">
			<div class="poster1">
				<div class="lefttitle">
					<div class="uppertitle">
						高清可视
					</div>
					<div class="bigone">
						可视喉镜
					</div>
					<div class="smallt1">
						方便携带
					</div>
					<div class="smallt2">
						插换便捷
					</div>
				</div>
				<div class="houjingpic">
					<img src="__IMG__/sanchahoujing.png"/>
				</div>
				<div class="para1">
					镜头模组置于前端叶片 <br />真正做到防雾   <br />实现高清观察  
				</div>
				<div class="para2">
					五号电池供电做到   <br />方便携带，解决急   <br />救和野战等场景的   <br />供电问题
				</div>
				<div class="para3">
					自带插管导槽   <br />插管无需钢丝   <br />提高一次插管成功率
				</div>
			</div>
			<div class="poster2">
				<div class="midtitle">
					<div class="headline">
						应用场景
					</div>
					<div class="subheadline">
						麻醉科、急诊科、野外急救
					</div>
				</div>
				<div class="fourkings">
					<img src="__IMG__/sixiaowang.png"/>
					<span class="tinyone">
						可视喉镜
					</span>
				</div>
				
			</div>
			<div class="poster3">
				<div class="lefttext">
					<p>· 实时高清拍照和摄影 </p>
					<p>· 旋转显示屏和超宽镜头视角，便于观察 </p>
					<p>· 用于困难/创伤气道处理，增加插管成功率 </p>
					<p>· 可用于可视吸痰  </p>
				</div>
				<div class="rightpic">
					<img src="__IMG__/hehe4.png"/>
				</div>
			</div>
			<div class="poster4">
				<div class="mtitle">
							<span>参数规格</span>
						</div>
						<div class="functext colored">
							30万像素专用摄像头，高分辨率，清晰显示工作区域 
						</div>
						<div class="functext">
							 镜头80°视野角，全方位观察视野 
						</div>
						<div class="functext colored">
							 17mm叶片厚度，降低插管难度
						</div>
			</div>
		</div>
		
		<div class="sidebar visible-lg">
        	<a href="{:U('Doctor/Productinfo/productmain','','')}" class="sidetitle">产品</a>
        	<ul>
        		<li><a href="../Productinfo/info2.html"class="stronger">可视喉镜</a></li>
        		<li><a href="../Productinfo/info6.html">人流镜</a></li>
        		<li><a href="../Productinfo/info4.html">医用体温贴</a></li>
        		<li><a href="../Productinfo/info7.html">家庭体温贴</a></li>
        		<li><a href="../Productinfo/info1.html">肺功能计</a></li>
        		<li><a href="../Productinfo/info5.html" >雾化器</a></li>
        	</ul>
        	<a href="{:U('Doctor/Solution/solutionmain','','')}" class="sidetitle">解决方案</a>
        	<ul>
        		<li><a href="../Solution/solution1.html" >内窥镜</a></li>
        		<li><a href="../Solution/solution2.html">环境监控</a></li>
        		<li><a href="../Productinfo/info3.html">压力监测</a></li>
        		<li><a href="../Solution/solution3.html">冷链监控</a></li>
        	</ul>
        </div>
         <include file="./Application/Doctor/View/Global/footer.html" />

		</div>
	</body>
</html>
