<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/productinfo.css">
		<link rel="stylesheet" href="__CSS__/info1.css">
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="productinfo info1">
		<div class="container">
	
	<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Productinfo/ProductInfo','','')}">产品信息</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Productinfo/ProductInfo','','')}">压力监测</a></span>
				<span class="split">/</span>
				<span class="text">肺功能计</span>
				<span class="split">/</span>
			</div>	
		</div>
		
		<div id="content" class="content">
			<div class="slider">
				<ul class="sliders">
					<li>
						<img src="#"/>
					</li>
					<li>
						<img src="#"/>
					</li>
					<li>
						<img src="#"/>
					</li>
				</ul>
			</div>
			<div class="midtitle">
				<div class="headline">
					肺功能计
				</div>
				<div class="subheadline">
					适用于呼吸系统早期病变评估
				</div>
			</div>
			<div class="stuff">
				<div class="lefttext">
					<p>
					· 鉴别慢阻肺（COPD） 
					</p>
					<p>
					· 评估肺部评估疾病的病情严重程度	
					</p>
					<p>
					· 评估外科手术耐受力及术后发生并发症的可能性  
					</p>
				</div>
			</div>
			<div class="saigonomono">
				<div class="mtitle">
							<span>功能介绍</span>
						</div>
						<div class="functext colored">
							测量用力肺活量FVC
						</div>
						<div class="functext">
							  测量用力呼气一秒量FEV1
						</div>
						<div class="functext colored">
							  测量峰值流速PEF
						</div>
			</div>
			
			
		</div>
		<div class="sidebar">
        	<a href="{:U('Doctor/Productinfo/ProductInfo','','')}" class="sidetitle">产品</a>
        	<ul>
        		<li><a href="../Productinfo/info2.html">可视喉镜</a></li>
        		<li><a href="../Productinfo/info4.html">体温贴</a></li>
        		<li><a href="../Productinfo/info1.html"class="stronger">肺功能计</a></li>
        	</ul>
        	<a href="{:U('Doctor/Solution/solutionmain','','')}" class="sidetitle">解决方案</a>
        	<ul>
        		<li><a href="../Solution/solution1.html">内窥镜</a></li>
        		<li><a href="../Solution/solution2.html">环境监控</a></li>
        		<li><a href="../Productinfo/info3.html">压力监测</a></li>
        		<li><a href="../Solution/solution3.html">冷链监控</a></li>
        	</ul>
        </div>
		
		<include file="./Application/Doctor/View/Global/footer.html" />
		
		</div>
	</body>
</html>
