<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/productinfo.css">
		<link rel="stylesheet" href="__CSS__/info4.css">
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="productinfo info4">
		<div class="container">
			
		<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text">首页</span>
				<span class="split">/</span>
				<span class="text">产品信息</span>
				<span class="split">/</span>
				<span class="text">生理体征监测</span>
				<span class="split">/</span>
				<span class="text">主动式体温贴</span>
				<span class="split">/</span>
			</div>	
		</div>
		
		<div id="content" class="content">
			<div class="tab">
				<img src="__IMG__/tempposter.png" />
				<div class="wen_content">
                    <img class="text" src="__IMG__/wen_back.png" />
                    <div class="wen_title">主动式体温贴</div>
                    <div class="wen_wen1"><label>连续监测体温</label><label>,</label><label>精确测温</label></div>
                    <div class="wen_wen2"><label>高度集成</label><label>,</label><label>方便佩戴</label></div>
                    <div class="wen_wen3"><label>无线通信</label><label>,</label><label>发烧警报</label></div>
                </div>
                
				<img class="production" src="__IMG__/poster_production.png" />
			</div>
			<div class="kuan">
				<div class="show">
					<div class="name">体温计</div>
					<div class="kuang">
						<div class="head">在主动式体温帖问世之前</div>
						<div class="text">世界上有无数种体温计的样式</div>
					</div>
					<div class="product_list">
						<div class="product_item"><img src="__IMG__/product1.png"/></div>
						<div class="product_item"><img src="__IMG__/product2.png"/></div>
						<div class="product_item"><img src="__IMG__/product3.png"/></div>
						<div class="product_item"><img src="__IMG__/product4.png"/></div>
					</div>
	            </div>
            </div>
            
            <div class="oppsite">
            	<div class="name">然而</div>
            	<div class="kuang">
						<div class="head">绝大多数体温计产品不具有</div>
						<div class="text">
							<p><label>连续监测体温</label><label>，</label><label>方便穿戴</label><label>，</label><label>实时精准的无线通信</label></p>
							<p><label>低成本</label><label>，</label><label>可抛弃</label><label>，</label><label>一次性</label></p>
						</div>
				</div>
				<div class="kuang2">
					<div class="pic">
					<div class="slogn1">
						绝大多数
					</div>
					<div class="slogn2">
						不具有
					</div>
					
				</div>
				</div>
				
            </div>
            
            
  <!--           <div class="banner">
            	<div class="show">
	            	<div class="topic">屈就于原有产品？还是更高昂产品？</div>
	            	<div class="line"></div>
	            	<div class="description">无论选择哪一个，效果跟费用都不理想</div>
	            </div>
            </div> -->
            
            <div class="function">
            	<div class="left_side">
            		<div class="pic"></div>
            		<div class="text">
            			<div class="title">主动式体温贴</div>
            			<div class="slogn">我们能满足您的所有需求！</div>
            			<ul>
            				<li>连续监测体温，精确测温，高集成度</li>
            				<li>发烧警报，方便佩戴，无线通信，低成本</li>
            				<li>也可用于家庭健康监护，新生儿监护</li>
            				<li>将医疗级体温贴用于家庭</li>
            			</ul>
            			<div class="line"></div>
            		</div>
            	</div>
            	
            </div>
            
            <div class="advantage">
            	<div class="title">我们的优势</div>
            	<div class="kuang">
            		<div class="head">选择我们</div>
            		<div class="text">
            			<p>我们为了宝宝的成长，追求更精准的数据</p>
            			<p>更便捷的方式，去呵护您的宝宝</p>
            		</div>
            	</div>
            </div>
            
            <div  class="babys">
            	<div class="baby_item baby1">
            	     <div class="text left">
            	     	<p>可抛弃式体温计融合高精度温度计</p>
            	     	<p>一个体温贴可以连续续航7天</p>
            	     	<p>使用3M医疗级无纺布，皮肤接触不过敏</p>
            	     </div>
            	</div>
            	<div class="baby_item baby2">
            		 <div class="text right">
            		 	<p>将医疗级体温贴用于家庭</p>
            		 	<p>高精度实时监控体温变化</p>
            		 	<p>在35℃-38.5℃区间误差为±0.05℃</p>
            		 	<p>38.51℃-45℃区间误差±0.1℃</p>
            		 </div>
            	</div>
            	<div class="baby_item baby3">
            		 <div class="text left">
            		 	<p>无线传输保证通信质量，确保实时监控，实时报警</p>
            		 	<p>APP记录体温数据，观察体温变化情况</p>
            		 	<p>体温超过设定高温警报线是，APP发出报警提示</p>
            		 </div>
            	</div>
            	<div class="baby_item  baby4">
            		 <div class="text right">
            		 	<p>长久使用产生辐射低于手机千分之一辐射量</p>
            		    <p>对人体无影响</p>
            		 </div>
            	</div>
            </div>
            
             <div class="procedure">
             	<img src="__IMG__/procedure.png"/>
             </div>
             
             <div class="backhome">
             	<div class="text">
             		<p>为了我更好的成长</p>
             		<p>请带我回家</p>
             	</div>
             </div>
            
		</div>
		
	<include file="./Application/Doctor/View/Global/footer.html" />
	
		</div>
	</body>
</html>
