<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创辉医疗电子设备-产品信息</title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/proinfomain.css">
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="proinfomain">
		<div class="container">
	
	<include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Productinfo/productmain','','')}">产品信息</a></span>
			</div>	
		</div>
		
		<div class="banner-container">
			<div class="banner">
			<div class="title">产品与技术</div>
			</div>
		</div>
		<div id="content" class="content">
			<div class="bgcontainer">
				<div class="produc-bg bg1" id="neikui">
				<div class="product-left">
					<img src="__IMG__/houjing-pro.png"/>
				</div>
				<div class="product-right">
					<h2>可视喉镜</h2>
					<p>创辉提供方便、高清的可视喉镜，让手术更加便捷安全</p>
					<p>
						<a href="{:U('Doctor/Productinfo/info2','','')}">了解可视喉镜</a>
					</p>
				</div>
			</div>
			</div>
			
			<div class="bgcontainer">
				<div class="produc-bg bg11" id="renliu">
					<div class="product-left">
					<h2>人流镜</h2>
					<p>摄像头在密封情况下拍摄，防水高清</p>
					<p>实时观察子宫情况，提高手术成功率，降低对生殖系统的伤害</p>
					<p>
						<a href="{:U('Doctor/Productinfo/info2','','')}">了解人流镜</a>
					</p>
				</div>
				<div class="product-right">
					<img src="__IMG__/renliupicpro.png"/>
				</div>
				
			</div>
			</div>
			
			<div class="bgcontainer"> 
				<div class="produc-bg bg2" id="medicle">
					<div class="product-left">
					<img src="__IMG__/poster_production.png"/>
				</div>
				<div class="product-right">
					<h2>医用无线体温监测系统</h2>
					<p>无需人工查房，标签置于人体腋下自动监测和记录体温，减轻医护人员工作量</p>
					<p>
						<a href="{:U('Doctor/Productinfo/info4','','')}">了解医用无线体温监测</a>
					</p>
				</div>
				
				
			</div>
			</div>
			
			<div class="bgcontainer"> 
				<div class="produc-bg bg22" id="shengli">
				<div class="product-left">
					<h2>家庭用无线体温监测系统</h2>
					<p>实时监测，24小时候记录体温，无需人工测量</p>
					<p>高精准度，精准记录细微的温度变化</p>
					<p>
						<a href="{:U('Doctor/Productinfo/info7','','')}">了解家庭用无线体温监测系统</a>
					</p>
				</div>
				<div class="product-right">
					<img src="__IMG__/forchildpro.png"/>
				</div>
				
			</div>
			</div>
			
			
			
			
			<!--<div class="bgcontainer"> 
				<div class="produc-bg bg4" id="wuhua">
				<div class="product-left">
					<h2>雾化器</h2>
					<p>实现无痛、快速、有效治疗上下呼吸系统疾病</p>
					<p>
						<a href="{:U('Doctor/Productinfo/info5','','')}">了解雾化器</a>
					</p>
				</div>
				<div class="product-right">
					<img src="__IMG__/wuhuaqi1.png"/>
				</div>
				
			</div>
			</div>-->
			
			
		</div>
		
		
		<include file="./Application/Doctor/View/Global/footer.html" />
		
		</div>
	</body>
</html>
