.aboutus2 .container > .content .text
{
	text-align: center;
	margin:20px 0;
	font-size:18px;
}

.aboutus2 .container > .content .text:before
{
	content:"â—";
	/*content:".";*/
	font-size:3px;
	color:#878787;
	margin:0 4px; 
	text-align:center;
}
.aboutus2 .container > .content .honorlist{
	width: 900px;
    margin: 0 auto;
    height: 555px;
}
.aboutus2 .container > .content .honorlist img{
	width: 300px;
	display: block;
	float: left;
}
