.productinfo .container > .content {
  height: 1800px;
}
.productinfo .container > .content .paraContainer .para1 {
  width: 100%;
  height: 500px;
}
.productinfo .container > .content .paraContainer .para1 .bigtitle h1 {
  font-size: 40px;
  text-indent: 150px;
  font-weight: 400;
}
.productinfo .container > .content .paraContainer .para1 .leftpic {
  width: 400px;
  height: 250px;
  float: left;
}
.productinfo .container > .content .paraContainer .para1 .leftpic img {
  width: 100%;
  height: 100%;
}
.productinfo .container > .content .paraContainer .para1 .righttext {
  width: 600px;
  text-align: right;
}
.productinfo .container > .content .paraContainer .para1 .righttext .p {
  font-size: 24px;
  font-weight: 400;
}
.productinfo .container > .content .paraContainer .para2 {
  width: 100%;
  height: 700px;
}
.productinfo .container > .content .paraContainer .para2 .lefttext {
  width: 600px;
  text-align: left;
}
.productinfo .container > .content .paraContainer .para2 .lefttext .p {
  font-size: 24px;
  font-weight: 400;
}
.productinfo .container > .content .paraContainer .para2 .rightpic {
  width: 400px;
  height: 500px;
  float: right;
}
.productinfo .container > .content .paraContainer .para2 .rightpic img {
  width: 100%;
  height: 100%;
}
.productinfo .container > .content .paraContainer .para3 {
  width: 100%;
}
.productinfo .container > .content .paraContainer .para3 .mtitle {
  text-align: center;
}
.productinfo .container > .content .paraContainer .para3 .mtitle h2 {
  font-size: 30px;
  font-weight: 400;
  color: #9E9E9E;
}
.productinfo .container > .content .paraContainer .para3 .functext {
  text-indent: 50px;
  font-size: 24px;
  font-weight: 400;
}
.productinfo .container > .content .paraContainer .para3 .colored {
  background-color: #A1A1A1;
}
