body,html{margin:0;padding:0;height:100%;}
body
{
	min-width:960px;
	margin: 0; 
	padding:0; 
	height: 100%; 
}
.container { 
min-height:100%; 
height: auto !important; 
height: 100%; /*IE6不识别min-height*/ 
position: relative; 
} 

body .container > .content 
{ 
  padding-bottom: 195px;/*等于footer的高度*/ 
  margin-bottom:0px !important;
} 


*
{
	font-size:14px;
	font-family: "微软雅黑","microsoft yahei","microsoft sans serif";
	color:#555555;
}

/* ========== */
/* = 网页头部 = */
/* ========== */
.head
{
	height: 140px;
	/*height:20px;*/
	/*background-color:#babdc4;*/
}

.head .line
{
  width:960px;
  /*max-width:1080px;*/	
  margin:0 auto;
}

.head .top
{
	height:15px;
	background-color:#babdc4;
	box-shadow: 0px 0px 10px 0px #727071;
}

.head .language
{
	background: url(../img/cncircle.png) no-repeat;
	width:150px;
	height:23px;
	line-height:23px;
	background-size:100% 100%;
	margin-right:50px;
	float:right;
	text-align:center;
	font-size:13px;
	margin-top: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.head .language label
{
	color:#B9B6B6;
	cursor: pointer;
}

.head .language .current
{
	color:black;
}

.head .line .information
{
	height:65px;
	width:100%;
	clear: both;
    overflow:hidden;
}

.head .line .logo
{
	background: url(../img/logo.png);
	width:232px;
	height:64px;
	background-size:100% 100%;
	float:left;
	
}
.head .nav
{
	width: 728px;
	float:left;
    margin-top: 21px;
   
}
.head .nav a >div,.head .nav  >div
{
	 white-space:nowrap;
  overflow: hidden;
}

.head .nav .fucing-a
{
	display: block;
	width: 100%;
	height: 100%;
}

.head .nav a div,.head .nav >div
{
	 /*white-space:nowrap;*/

	width:121px;
	float:left;
	text-align:center;
	height:30px;
	line-height:30px;
	font-weight: 500;
	font-size:18px;
	padding:0px;
}

.head .nav .showtab
{
	width: 100%;
	height:0px;
	background-color: #E9E9EB;
	position:absolute;
	left:0;
	/*display: none;*/
	visibility: hidden;
	z-index:9999;
	
	transition:height 0.5s;
	-moz-transition:height 0.5s; /* Firefox 4 */
	-webkit-transition:height 0.5s; /* Safari and Chrome */
	-o-transition:height 0.5s; /* Opera */
}
.head .nav .showtab h2
{
	margin:0;
	padding:0;
	font-size:20px;

	  border-left: 1px solid #9E9E9E;
	  padding-left:10px;
	
}
.head .nav .showtab .content
{
	position:absolute;
	left:0;
	right:0;
	width:1170px;
	height:100%;
	margin:0 auto;
	
	opacity: 0;
}

.head .nav .one
{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
  /*  border-left: 1px solid #9E9E9E;*/
    margin: 0 20px;
	width: auto;
    /* background-color: white; */
    color: red;
    font-size: 20px;
    text-align: left;
    /*padding-left: 40px;*/
    margin-top:20px;

    float:left;
    overflow: hidden;
    zoom: 1;
    height: auto;
}


.head .nav ul
{
	/*width: 100px;float:left; list-style:disc outside; color:#000;*/
	list-style: none;
	padding:0;
	float:left;
}

.head .nav .one > ul + ul
{
	
	margin-left:40px;
}

.head .nav ul li 
{
	/*float:left;*/
}
.head .nav ul li a
{
	padding:10px;
	text-decoration: none;
	/*display:block;float:left; width: 200px;*/ 
}
.head .nav div:hover .showtab
{
	/*display: block;*/
	visibility: visible;
	height:250px;
	
 
}

.head .nav div:hover .showtab .content
{
	opacity: 1;
	transition:opacity 0.5s;
	-moz-transition:opacity 0.5s; /* Firefox 4 */
	-webkit-transition:opacity 0.5s; /* Safari and Chrome */
	-o-transition:opacity 0.5s; /* Opera */
}

.head .nav div:hover 
{
	color:#3b5674;
}

.head .nav div:hover
{
	background-color: #F4F4F4;
}
 /*showtab position change*/
/*.gaikuangtab{
	padding-left: 50%;
}
.protab{
	padding-left: 45%;
}
.solutab{
	padding-left: 51%;
}*/

/*.head .nav div:hover ul
{
	display:block;
}*/
/*.head .nav ul
{
	min-width:90px;
	display:none;
	padding:0;
	width:auto;
	position: absolute;
    z-index: 9999;
    background-color: #F4F4F4;
    margin:0;
    padding:4px 10px;
    border-top: 1px solid black;
    text-align: left;
}

.head .nav ul li
{
	min-width:90px;
	list-style: none;
	width:100%;
	padding:4px 0;
	
}
.head .nav ul li:hover
{
	 background-color: #C7C0C0;
}
.head .nav ul li:hover a
{
	color:white;
}
.head .nav ul li a
{
   text-decoration:none;
   width:100%;
   display: block;
}

.head .nav div:hover
{
	background-color: #F4F4F4;
}
.head .nav div:hover ul
{
	display:block;
}*/


/* ========== */
/* = 网页尾部 = */
/* ========== */
.footer
{
	position: absolute; 
    bottom: 0; 

	height:195px;
	background-color: #cbced5;
	margin-top:25px;
	clear:both;
	
	/*position: absolute;
    bottom: 0;*/
    /* color: black; */
    /* background-color: white; */
    width: 100%;
}
.footer div,.footer label,.footer a
{
	color:white;
	text-decoration: none;
	font-size: 14px;
}
.footer .footer_content
{
	width:960px;
	/*max-width:1080px;*/
	margin:0 auto;
	height:100%;
}
.footer .text 
{
	margin-left:20px
}
.footer .text >div
{
	max-width: 85px;
	/*overflow:hidden;*/
	float:left;
	margin:20px 30px 0px 30px
}
.footer .text .title
{
	font-size:15px;
	font-weight:600;
	margin-bottom:10px
}





.footer .footer_content .pic
{
	float:right;
	margin-top: 28px;
}

.footer .footer_content .pic >div
{
	float:left;
}


.footer .footer_content .qr
{ 
	background:url(../img/QR.png) no-repeat;
	width:90px;
	height:90px;
	background-size:100% 100%;
	margin:0px 6px 0 0px;
	/*margin-top:33px;*/
}

.footer .footer_content .pic .contact div
{
	font-size:13px;
}
.footer .footer_content .icp{
	
    float: left;
    width: 100%;
    text-align: center;
	margin-top: 45px;
}
.footer .footer_content .icp label{
	font-size: 12px;
}

/* ========== */
/* = 位置信息 = */
/* ========== */
.location
{
	width:100%;
	/*max-width:1080px;*/
	margin:0 auto;
	
	height:27px;
	line-height:27px;
	
	background-color:#f7f7f7;
}

.location .position
{
	width: 960px;
	margin: 0 auto;
	font-size: 17px;
}

.location .position .split
{
	color:#cac8c9;
}

.location .position span
{
	font-size: 16px;
}
.location .position a
{
	text-decoration: none;
	font-size: 16px;
}


.left
{
	float:left;
}

.right
{
	float:right;
}
#goTopBtn{
	position: fixed;
    top: 80%;
    right: 15px;
    width: 70px;
    height: 70px;
    z-index: 800;
}
#goTopBtn .go-top{
	width: 100%;
	height: 100%;
	display: inline-block;
	opacity: 0;
	text-decoration: none;
}
@font-face {font-family: "iconfont";
  src: url('../EOT/iconfont.eot'); /* IE9*/
  src: url('../EOT/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../EOT/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../EOT/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../EOT/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	width: 100%;
	height: 100%;
  font-family:"iconfont" !important;
  font-size:60px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #5D5F63;
    
}
.visible-lg {
  display: none !important;
}
@media only screen and (min-width: 1200px) {
	.visible-lg{
		display: block !important;
	}
}