.hr .container > .content
{
	width:960px;
	margin:0 auto 30px auto;
	/*max-width:1080px*/
	

}

.hr .tab
{
	width:125%;
	/*background:url(../img/hr_bc.png) no-repeat;*/
	/*background-size:100% 100%;*/
	margin-left:-12.5%;
	padding-top:30px;
	padding-bottom: 30px;;
}

.hr .container > .content .hr_list
{
	width:70%;
	margin:0 auto;
	
}
.hr .container > .content .hr_list table
{
	width:100%;
	border-spacing: 20px;
}

.hr .container > .content .hr_list table tr
{
	height:40px;
	text-align: center;

}

.hr .container > .content .hr_list table tr td
{
	width:170px;
	font-size: 17px;
	font-weight:600
}
.hr .container > .content .hr_list table tr td button
{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    
    background-color: #88b9e1;
    color:white;
    border-radius: 3px;;
}
.hr .container > .content .hr_list table tr .detail
{
	width:37%;
}

.hr .container > .content .hr_list table tr .apply
{
	/*border-radius: 8px;
	width: 5%;
	height: 40px;
	background-color: #8D8D8D;*/
}

.hr .container > .content .hr_list table tr td button:hover
{
	box-shadow: 0px 0px 5px gray;
}

