.productinfo .container > .content .box {
  position: relative;
}
.productinfo .container > .content .box .above {
  position: relative;
}
.productinfo .container > .content .box .above .title {
  position: absolute;
  bottom: 10%;
  font-size: 50px;
  right: 3%;
  color: #0e8cd0;
  letter-spacing: 4px;
}
.productinfo .container > .content .box .below {
  position: relative;
  margin-bottom: 50px;
}
.productinfo .container > .content .box .below div {
  position: absolute;
}
.productinfo .container > .content .box .below .one {
  left: 24%;
  top: 19%;
}
.productinfo .container > .content .box .below .two {
  left: 5%;
  top: 24%;
}
.productinfo .container > .content .box .below .three {
  left: 14%;
  top: 46%;
}
.productinfo .container > .content .box .below .four {
  left: 29%;
  top: 61%;
}
.productinfo .container > .content .box .below .five {
  left: 16%;
  top: 70%;
}
.productinfo .container > .content .box .below .six {
  left: 30%;
  top: 91%;
}
.productinfo .container > .content .box .below .seven {
  left: 40%;
  top: 33%;
}
.productinfo .container > .content .box .below .eight {
  left: 44%;
  top: 76%;
}
.productinfo .container > .content .box .below .nine {
  left: 58%;
  top: 57%;
}
.productinfo .container > .content .box .below .ten {
  left: 79.5%;
  top: 25%;
}
.productinfo .container > .content .box .below .eleven {
  left: 79.5%;
  top: 54%;
}
.productinfo .container > .content .box .below .twive {
  left: 79.5%;
  top: 82%;
}
.productinfo .container > .content .para1 .title {
  width: 700px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/bluekuang.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.productinfo .container > .content .para1 .title span {
  font-size: 36px;
  color: #3F8BC8;
}
.productinfo .container > .content .para1 .paracontent {
  width: 100%;
  height: 266px;
  margin-top: 60px;
}
.productinfo .container > .content .para1 .paracontent .paraline {
  margin-left: 123px;
  height: 82px;
}
.productinfo .container > .content .para1 .paracontent .paraline img {
  width: 40px;
  float: left;
}
.productinfo .container > .content .para1 .paracontent .paraline .linetext {
  width: 620px;
  float: left;
  margin-top: 12px;
  margin-left: 30px;
  font-size: 18px;
}
.productinfo .container > .content .para2 {
  margin-bottom: 40px;
}
.productinfo .container > .content .para2 .title {
  background-image: url("../img/blueshit.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 36px;
  width: 700px;
  height: 70px;
  text-align: center;
  margin: 0 auto;
  color: #3F8BC8;
}
.productinfo .container > .content .para3 {
  margin-bottom: 50px;
}
.productinfo .container > .content .para3 .title {
  background-image: url("../img/blueshit.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 36px;
  width: 700px;
  height: 70px;
  text-align: center;
  margin: 0 auto;
  color: #3F8BC8;
}
.productinfo .container > .content .para3 .bigpic {
  position: relative;
}
.productinfo .container > .content .para3 .bigpic div {
  word-spacing: 8px;
}
.productinfo .container > .content .para3 .bigpic .lines {
  margin-left: 130px;
  height: 30px;
  font-size: 18px;
}
.productinfo .container > .content .para3 .bigpic .five {
  margin-top: 30px;
}
.productinfo .container > .content .para3 .bigpic .shittube {
  position: absolute;
  bottom: 3px;
  left: 414px;
}
.productinfo .container > .content .para3 .bigpic .shittube .line1 {
  padding-top: 8px;
  font-size: 18px;
}
