.solution .banner
{
	height:100px;
	background-color:#f0f0f0;
	width:100%;
	position:relative;
	    padding-bottom: 15px;
}

.solution .container > .content
{
	width:1170px;
	/*max-width:1080px;*/
	margin:0 auto;
}
