.solution .banner
{
	height:100px;
	background-color:#f0f0f0;
	width:100%;
	position:relative;
	    padding-bottom: 15px;
}

.solution .container > .content
{
	width:960px;
	/*max-width:1080px;*/
	margin:0 auto;
}
.sidebar{
    position: fixed;
    right: 0px;
    top: 31%;
    width: 100px;
    height: 300px;
    list-style: none;
    display: block;
    padding-left: 3px;
    text-decoration: none;
}
.sidebar a{
	text-decoration: none;
	font-size: small;
    color: #727071;
}
.sidebar .sidetitle{
	display: block;
	font-weight: 700;
}
.sidebar ul{
	display: block;
    padding: 0;
    list-style: none;
    
}
.sidebar ul li{
	display: block;
	list-style: none;
	text-align: left;
	margin-bottom: 5px;
}
.stronger{
	font-weight: 600;
}
