<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创辉医疗电子设备-关于我们</title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/aboutus.css" />
		<link rel="stylesheet" href="__CSS__/aboutus3.css" />
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="aboutus aboutus3">
		<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

		<div class="container">
	 
	    <include file="./Application/Doctor/View/Global/head.html" />
		
		<div class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text">关于我们</span>
				<span class="split">/</span>
				<span class="text">企业资质</span>
			</div>			
		</div>
		
		<div id="content" class="content">
			<h2 class="title">企业资质</h2>
			<div class="together">
				<ul>
					<li>ISO13485</li>
					<li>CE</li>
					<li>医疗器械生产许可证</li>
					<li>医疗器械产品注册证</li>
				</ul>
			    <!--<div class="text">ISO13485</div>
			    <div class="text">CE</div>
			    <div class="text">医疗器械生产许可证</div>
			    <div class="text">医疗器械产品注册证</div>-->
		        <div class="map"><img src="__IMG__/map_clean.png"/>
 					<div class="america">美国</div><div class="sweden">瑞典</div><div class="hangzhou">杭州</div><div class="shanghai">上海</div><div class="shenzhen">深圳</div>
		        </div>
		        <div class="ps">创辉与上海、杭州、深圳、美国、瑞典的多家公司有合作关系</div>
		    </div>
		</div>
		
		
		
			<include file="./Application/Doctor/View/Global/footer.html" />
		
		</div>
	</body>
</html>
