<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创辉医疗电子设备-新闻中心</title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/newsdetail.css" />
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body>
		
		<div class="container">
			
        <include file="./Application/Doctor/View/Global/head.html" />
		
		<div  class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text">新闻中心</span>
			</div>			
		</div>
		
		<div  class="content">
			<div class="leftarea">
				<div class="left-content">
						<div class="section stronger">
						<a href="{:U('Doctor/News/newscenter1','','')}">公司要闻</a>
						</div>
						<div class="section">
						<a href="{:U('Doctor/News/newscenter2','','')}">行业新闻</a>
						</div>
						<div class="section">
						<a href="{:U('Doctor/News/newscenter3','','')}">展会信息</a>
						</div>
				</div>
			</div>
			<div class="rightarea">
				<div class="right-content">
					<div class="news" >
						<div class="article">
							
								<h2>公司积极参与公益活动</h2>
							
							<time>2016-6-14</time>
							<p>百年大计，教育为本。奉献爱心，收获希望。为了让寒门学子有实现梦想、改变命运的机会，公司决定从2016年6月开始，每月向湖南新田县苦志育才小学捐助人民币2000元，用于改善贫困地区孩子的学习和生活条件。虽然我们尚处于创业初期，但心系应当承担的社会责任，相信随着公司的逐步壮大，将为公益事业奉献更多的力量。</p>
							<p>另附由佛慈基金会颁发的《荣誉证书》及感谢信</p>
							<img src="__IMG__/haorenka.png"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
			<include file="./Application/Doctor/View/Global/footer.html" />
		
	</div>
	</body>
</html>
