<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/index.css" />
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
		<script src="__JS__/index.js"></script>
	</head>

	<body class="indexpage">
		<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Index/get_encn','','')}"/>
        <input id="encn_val" type="hidden" value="{$encn_json}"/> -->

		<div class="container">

			<include file="./Application/Doctor/View/Global/head.html" />

			<!-- <include file="{:U('Doctor/Global/head','','')}" /> -->

			<div id="content" class="content">
				<!--<div class="tab"></div>-->
				<!-- <div class="tab"><img  src="__IMG__/poster.png" /></div> -->

				<div class="tab">
					<div class="left-arrow"></div>
					<div class="banner">
						<ul>
							<li>
								<a class="title1" href="../Solution/solution1.html">720P高清内窥镜</a>
								<span class="subtitle1">低成本、可抛弃</span>
								<span class="subtitle2">可应用于胃镜、腹腔镜</span>
								<img src="__IMG__/poster.png" /></li>
							<li>
								<a class="title2" href="../Productinfo/info2.html">可视喉镜</a>
								<span class="subtitle3">便捷机身、高清可视、插入便捷</span>
								<img src="__IMG__/poster1.png" /></li>
							<li><a class="title3" href="../Productinfo/info1.html">肺功能计</a><img src="__IMG__/poster2.png" /></li>
						</ul>
					</div>
					<div class="right-arrow"></div>
				</div>

				<div class="detail_nav_container">
					<ul id="myTab" class="nav nav-tabs chose_tab">
						<li class="active">
							<a href="#pro" data-toggle="tab">
   	  		   				 <span class="chose_tab1">主打产品</span>
		      				</a>
						</li>
						<li><a href="#intel" data-toggle="tab"><span class="chose_tab2">智能方案</span></a></li>
						
						<li><a href="#partner" data-toggle="tab"><span class="chose_tab3">合作伙伴</span></a></li>
						<li><a href="#about" data-toggle="tab"><span class="chose_tab4">关于我们</span></a></li>
					</ul>
				</div>
				<div class="detail_container">
					<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="pro">
						<div class="content-text">
							<h2>智能设备，安全方便</h2>
							<p>创辉医疗应用定制化传感芯片与无线技术，研发最先进智能医疗设备</p>
						</div>
						<div class="content-item">
							<ul class="row">
								<li>
									<a href="../Productinfo/info2.html">
										<div class="item-image">
											<img src="__IMG__/houjing-pro.png"/>
										</div>
										<div class="item-text">可视喉镜</div>
									</a>
								</li>
								<li>
									<a href="../Productinfo/info4.html">
										<div class="item-image">
											<img src="__IMG__/poster_production.png"/>
										</div>
										<div class="item-text">主动式体温贴</div>
									</a>
								</li>
								<li>
									<a href="../Productinfo/info1.html">
										<div class="item-image">
											<img src="__IMG__/langji.png"/>
										</div>
										<div class="item-text">肺功能计</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="item-image">
											<img src="__IMG__/wuhuaqi.png"/>
										</div>
										<div class="item-text">
											雾化器
										</div>
									</a>
								</li>
							</ul>
						</div>
						
					</div>
					<div class="tab-pane fade" id="intel">
						<div class="content-text">
							<h2>完整方案，高能低耗</h2>
							<p>创辉提供新一代微型化、低成本、低功耗、高性能的可抛弃式高端解决方案</p>
						</div>
						<div class="content-item">
							<ul class="row">
								<li>
									<a href="../Solution/solution1.html">
										<div class="item-image">
											<img src="__IMG__/sensor11.png"/>
										</div>
										<div class="item-text">超微型电子内窥镜</div>
									</a>
								</li>
								<li>
									<a href="../Solution/solution2.html">
										<div class="item-image">
											<img src="__IMG__/label_hei.png"/>
										</div>
										<div class="item-text">环境温湿度监控系统</div>
									</a>
								</li>
								<li>
									<a href="../Solution/solution3.html">
										<div class="item-image">
											<img src="__IMG__/tuopu.png"/>
										</div>
										<div class="item-text">智能冷链监控系统</div>
									</a>
								</li>
								<li>
									<a href="../Solution/solution4.html">
										<div class="item-image">
											<img src="__IMG__/cinfo.png"/>
										</div>
										<div class="item-text">输液监控</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="tab-pane fade" id="partner">
						<div class="content-text">
							<h2>多方合作、共同发展</h2>
							<p>创辉专业的研发团队与其他各方合作，将公司打造成研发、生产、市场销售为一体的领军企业</p>
						</div>
						<div class="content-item">
							<ul class="row">
								<li>
									<a href="partner.html">
										<div class="item-image">
											<img src="__IMG__/sichuang.png"/>
										</div>
										<div class="item-text">思创医惠科技股份有限公司</div>
									</a>
								</li>
								<li>
									<a href="partner.html">
										<div class="item-image">
											<img src="__IMG__/zeda.png"/>
										</div>
										<div class="item-text">杭州泽大仪器有限公司</div>
									</a>
								</li>
								<li>
									<a href="partner.html">
										<div class="item-image">
											<img src="__IMG__/zheda.png"/>
										</div>
										<div class="item-text">浙江大学</div>
									</a>
								</li>
								
							</ul>
						</div>
					</div>
					<div class="tab-pane fade" id="about">
						<div class="content-text">
							<h2>创辉医疗，值得信赖</h2>
							<p>我们将先进的电子技术用于健康</p>
						</div>
						<div class="content-item">
							<ul class="row">
								<li>
									<a href="../Aboutus/aboutus1.html">
										<div class="item-image">
											<img src="__IMG__/honor.png"/>
										</div>
										<div class="item-text">所获荣誉
										</div>
									</a>
								</li>
								<li>
									<a href="../Aboutus/aboutus2.html">
										<div class="item-image">
											<img src="__IMG__/more-of-us.png"/>
										</div>
										<div class="item-text">深入了解</div>
									</a>
								</li>
								<li>
									<a href="../Aboutus/aboutus3.html">
										<div class="item-image">
											<img src="__IMG__/qualification.png"/>
										</div>
										<div class="item-text">资格证书</div>
									</a>
								</li>
								<li>
									<a href="../Recruitment/hr.html">
										<div class="item-image">
											<img src="__IMG__/joinus.png"/>
										</div>
										<div class="item-text">加入我们</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					</div>
				</div>
				
				<div class="new-container">
					<div class="news">
					<div class="picture"></div>
					<div class="introduction">
						<h1 class="title">新闻中心</h1>
						<div class="news">
							<p>2016年5月27日，2016珠海CHINC中华医院信息网络大会暨中美医院信
								息化论坛在广东珠海国际会展中心(珠海厅)隆重召开。本次大会是国家
								级医学继续教育项目，邀请了国内外百余名业内专家、学者和科技人员，
								进行学术报告、技术交流。创辉医疗作为智慧医疗的方案商，应邀参加本
								届会议，为到会嘉宾们展示了专业级的医疗物联网信息管理解决方案。
							</p>
							<p>未来的医疗行业必定会全面向数据智能一体化发展，
								创辉医疗在本次大会中展出的流量计产品，搭载低成本高敏传感器，
								精确测量液体流量流速的变化，可以在后台软件管理系统进行实时监控，
								确保输液引流等医疗行为更加安全可控，大大提高医护人员的工作效率。
							</p>
						</div>
					</div>
				</div>
				</div>
				

				<div class="line"></div>

				<div class="piclist">
					<div>
						<table>
							<th>
								<td>
									<a href="../Productinfo/info4.html">
									<img src="__IMG__/1.png" />										
									</a>
								</td>
							</th>
						</table>
					</div>
					<div>
						<table>
							<th>
								<td>
									<a href="../Solution/solution3.html">
									<img src="__IMG__/2.png" />
									</a>
								</td>
							</th>
						</table>
					</div>
					<div>
						<table>
							<th>
								<td>
									<a href="../Productinfo/info3.html">
									<img src="__IMG__/3.png" />
									</a>
								</td>
							</th>
						</table>
					</div>
				</div>

			</div>

			<include file="./Application/Doctor/View/Global/footer.html" />

		</div>
	</body>

</html>
	<div id="goTopBtn">
		<a href="#" class="go-top">
			<span class="iconfont icon-xiangshang"></span>
		</a>
	</div>	
	<script type="text/javascript">
 $(window).scroll(function(){
   var $sc=$(window).scrollTop();
   if ($sc > 100 ) {
                $('#right_iconbox').fadeIn(500);
            }

            if ($sc >= 500) {

                $('.go-top').stop().animate({
                    opacity: 1
                }, 500);
            } else {

                $('.go-top').stop().animate({
                    opacity: 0
                }, 500);
            }
 })
 $("#goTopBtn").click(function(){
   var sc=$(window).scrollTop();
   $('body,html').animate({scrollTop:0},500);
 })
</script>