<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/partner.css" />
		<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="partner">
	    <!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

	  <div  class="container">

	      <include file="./Application/Doctor/View/Global/head.html" />

	  <div class="location">
			<div class="position">
				<span class="text">首页</span>
				<span class="split">/</span>
				<span class="text">合作伙伴</span>
			</div>			
		</div>
		
		<div id="content" class="content">
			<div class="partneritem">
				<div class="line">
				</div>
				
				<div class="logo"><img src="__IMG__/zeda.png"/></div>
				<div class="name">杭州泽大仪器有限公司</div>
				<div class="introduce">杭州泽大仪器有限公司坐落于杭州上城科技工业基地内，前身为浙江大学电气设备厂，是国家教育部部属央企，成立于1995年（浙江农业大学电气设备厂，浙江大学四校合并后更名为浙江大学电气设备厂），2005年改制为杭州泽大仪器有限公司。公司注册资金1000万元，年销售额约3000-5000万元，在医药、食品冷链监控和GSP验证这个医药冷链细分行业耕耘了12年，自主研发了“智能数据记录仪”、“药品储运温湿度在线监测系统”、“基于物联网技术的疫苗冷藏包储藏与运输温度监控管理平台”、“GSP药品冷链温湿度验证工作站”等多个系列的产品，已广泛应用于卫生防疫、医药行业、冷藏储运、气象环保等各个领域。</div>
			</div>
			
			<div class="partneritem">
				<div class="line">
				</div>
				
				<div class="logo"><img src="__IMG__/sichuang.png"/></div>
				<div class="name">思创医惠科技股份有限公司</div>
				<div class="introduce">思创医惠科技股份有限公司成立于2003年11月,2010年4月在深圳创业板上市(股票代码300078),是一家专业从事电子商品防盗(EAS)、无线射频识别系统（RFID）定制化产品及行业应用解决方案的开发与服务的高科技企业，是全球零售支持领域新理念的开拓者和引领者。公司拥有总资产12亿，员工1500余人，在香港、瑞典、意大利、西班牙、美国多个国家建立子公司，是全球零售系统解决方案领域的龙头企业和最具规模的生产基地之一。产品远销至世界各地，获得来自70多个国家客户的信赖与好评。</div>
			</div>
			
		

			<include file="./Application/Doctor/View/Global/footer.html" />

		</div>
	</body>
</html>
