<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/hr.css" />
			<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="hr">
<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

		<div class="container">

	   <include file="./Application/Doctor/View/Global/head.html" />
		
	  <div class="location">
			<div class="position">
				<span class="text">首页</span>
				<span class="split">/</span>
				<span class="text">合作伙伴</span>
			</div>			
		</div>
		
		<div id="content" class="content">
			<div class="tab">
			<div class="hr_list">
				<table>
					<tr>
						<td>职位</td>
						<td>工作地点</td>
						<td>要求</td>
					</tr>
					<tr>
						<td>研发部</td>
						<td>杭州/上海</td>
						<td><a href="detail_hr.html">具体要求</a></td>
					</tr>
					<tr>
						<td>研发部</td>
						<td>杭州/上海</td>
						<td><a href="detail_hr.html">具体要求</a></td>
					</tr>
					<tr>
						<td>研发部</td>
						<td>杭州/上海</td>
						<td><a href="detail_hr.html">具体要求</a></td>
					</tr>
					<tr>
						<td>研发部</td>
						<td>杭州/上海</td>
						<td><a href="detail_hr.html">具体要求</a></td>
					</tr>
					<tr>
						<td>研发部</td>
						<td>杭州/上海</td>
						<td><a href="detail_hr.html">具体要求</a></td>
					</tr>
				</table>
			</div>
			</div>
		</div>
		
		
        <include file="./Application/Doctor/View/Global/footer.html" />

		</div>
	</body>
</html>
