<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/detail_hr.css" />
			<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="detail_hr">
<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

		<div class="container">
			
		<include file="./Application/Doctor/View/Global/head.html" />
		
	  <div class="location">
			<div class="position">
				<span class="text">首页</span>
				<span class="split">/</span>
				<span class="text">招聘信息</span>
			</div>			
		</div>
		
		<div id="content" class="content">
			<div class="nav">
				<div><img src="__IMG__/kk.png"/>所属部门</div>
				<div><strong>研发部</strong></div>
				<div>市场部</div>
				<div>生产部</div>
			</div>
			<div class="information">
				<div class="title">助理固件开发工程师（实习）</div>
				<div class="line"></div>
				<div class="require">
					<div class="">
						<p>岗位职责:</p>
						<p>1、参与产品固件研发和pc端软件开发</p>
						<p>2、参与穿戴式智能设备类产品的信号处理算法研究</p>
						<p>3、协助其他部门的工程师工作</p>
					</div>
					<div class="">
						<p>任职要求:</p>
						<p>1、本科以上学历，电子信息相关的工科专业或是有电子基础的理科专业</p>
						<p>2、熟悉交叉编译工具链和c编程</p>
						<p>3、精通单片机固件开发、熟悉ARM体系结构，有汇编编程经验</p>
						<p>4、熟悉至少一种嵌入式系统驱动开发，对多任务、实时操作系统有深入了解</p>
						<p>5、有实时系统、多线程环境代码开发经验</p>
						<p>6、熟悉本科数字电路和模拟电路知识</p>
						<p>7、有较强的自主学习能力，动手能力</p>
					</div>
					<div class="">
						<p>工作地点:<strong>上海</strong></p>
					</div>
					<div class="welfare">
						<p>在创辉，我们为员工提供以下福利待遇:</p>
						<p>1、工作时间：9:00-18:00，周末双休，享有法定假期、带薪年假、婚假、产假等；</p>
						<p>2、入职后缴纳五险一金；</p>
						<p>3、员工享有餐费补贴、下午茶、话费补贴、节日福利；</p>
						<p>4、为了员工的身体健康，公司每年组织定期体检；</p>
						<p>5、为了丰富员工生活，定期组织旅游等活动。</p>
					</div>
					<div><button>现在申请</button></div>
				</div>
				
				
			</div>
		</div>
		
		
<include file="./Application/Doctor/View/Global/footer.html" />

		</div>
	</body>
</html>
