<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/detail_hr.css" />
			<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="detail_hr">
<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

		<div class="container">
			
		<include file="./Application/Doctor/View/Global/head.html" />
		
	  <div class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Recruitment/hr','','')}">招聘信息</a></span>
			</div>			
		</div>
		
		<div id="content" class="content">
			<div class="nav">
				<div><img src="__IMG__/kk.png"/>招聘详情</div>
				<div><strong>研发部</strong></div>
				<div>市场部</div>
				<div>生产部</div>
			</div>
			<div class="information">
				<div class="title">助理图像处理工程师(实习)</div>
				<div class="line"></div>
				<div class="require">
					<div class="">
						<p>岗位职责:</p>
						<p>1、负责图形图像定位、分割、识别算法研究，设计先进的算法，并能根据业务的特点进行算法优化</p>
						<p>2、收集研究行业内新的技术、算法，不断提高系统对图形图像识别的效率与准确率</p>
						<p>3、负责对已有系统图形图像处理算法的提升</p>
						<p>4、负责相关算法的核心代码实现</p>
						<p>5、和其他同事合作，共同提高公司系统的可用性、效率、可扩展性</p>
						<p>6、上级交代的其它任务</p>
					</div>
					<div class="">
						<p>任职要求:</p>
						<p>1、图形图像处理专业或相关专业本科以上</p>
						<p>2、掌握图像处理基本算法，并在如下相关方向有较深入研究：图像分类标注、OCR、图像质量评价、图像处理等</p>
						<p>3、熟练使用C、C++和Matlab，并有相关开发经验</p>
						<p>4、有良好的沟通能力与团队合作精神</p>
						<p>5、入职后可进浙江大学转化学院学习培养</p>
					</div>
					<div class="">
						<p>工作地点:<strong>杭州</strong></p>
					</div>
					<div class="welfare">
						<p>在创辉，我们为员工提供以下福利待遇:</p>
						<p>1、工作时间：9:00-18:00，周末双休，享有法定假期、带薪年假、婚假、产假等；</p>
						<p>2、入职后缴纳五险一金；</p>
						<p>3、员工享有餐费补贴、下午茶、话费补贴、节日福利；</p>
						<p>4、为了员工的身体健康，公司每年组织定期体检；</p>
						<p>5、为了丰富员工生活，定期组织旅游等活动。</p>
					</div>
					<div>
						<p>申请方式:</p>
						<p>1、发送邮件到 hr@chuanghuitech.com</p>
						<p>2、邮件中注明求职的岗位</p>
						<p>3、附件中附加对应简历与简历附件</p>
						<p>4、我们的工作人员会很快与你取得联系</p>
					</div>
				</div>
				
				
			</div>
		</div>
		
		
<include file="./Application/Doctor/View/Global/footer.html" />

		</div>
	</body>
</html>
