<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>创辉医疗电子设备-加入我们</title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/detail_hr.css" />
			<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="detail_hr">
<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

		<div class="container">
			
		<include file="./Application/Doctor/View/Global/head.html" />
		
	  <div class="location">
			<div class="position">
				<span class="text"><a href="{:U('Doctor/Index/index','','')}">首页</a></span>
				<span class="split">/</span>
				<span class="text"><a href="{:U('Doctor/Recruitment/hr','','')}">招聘信息</a></span>
			</div>			
		</div>
		
		<div id="content" class="content">
			<div class="nav">
				<div><img src="__IMG__/kk.png"/>招聘详情</div>
				<div>研发部</div>
				<div><strong>市场部</strong></div>
				<div>生产部</div>
			</div>
			<div class="information">
				<div class="title">市场专员</div>
				<div class="line"></div>
				<div class="require">
					<div class="">
						<p>岗位职责:</p>
						<p>1、负责各类宣传推广计划审核、平面制定、媒体选用等</p>
						<p>2、公司品牌建设和管理工作，审定各项宣传推广品牌形象活动方案</p>
						<p>3、软文攥写，负责企业品牌推广相关文案编辑、媒体通稿编辑，以及媒体关系维系</p>
						<p>4、互联网用户流量开拓，各类搜索引擎、网络广告渠道投放策略的制定和具体把控，微博、微信、SNS等等</p>
						<p>5、持续竞品调研分析、市场策略分析与优化，做出实施方案</p>
						<p>6、协助做好公司企业文化宣传，公司活动的组织策划及实施</p>
					</div>
					<div class="">
						<p>任职要求:</p>
						<p>1、熟悉实验室器材设备的、医疗器械或者药物销售工作经验优先考虑</p>
						<p>2、具有一定的文案功底及简单的图片制作</p>
						<p>3、具有较强的独立工作能力和社交技巧、良好的沟通技巧与团队协作意识</p>
						<p>4、工作严谨细致、责任心强，能够吃苦耐劳，有较强的抗压能力</p>
						<p>5、能独立完成市场情况分析、并指定相应的市场计划、策略等</p>
					</div>
					<div class="">
						<p>工作地点:<strong>杭州</strong></p>
					</div>
					<div class="welfare">
						<p>在创辉，我们为员工提供以下福利待遇:</p>
						<p>1、工作时间：9:00-18:00，周末双休，享有法定假期、带薪年假、婚假、产假等；</p>
						<p>2、入职后缴纳五险一金；</p>
						<p>3、员工享有餐费补贴、下午茶、话费补贴、节日福利；</p>
						<p>4、为了员工的身体健康，公司每年组织定期体检；</p>
						<p>5、为了丰富员工生活，定期组织旅游等活动。</p>
					</div>
					<div>
						<p>申请方式:</p>
						<p>1、发送邮件到 hr@chuanghuitech.com</p>
						<p>2、邮件中注明求职的岗位</p>
						<p>3、附件中附加对应简历与简历附件</p>
						<p>4、我们的工作人员会很快与你取得联系</p>
					</div>
				</div>
				
				
			</div>
		</div>
		
		
<include file="./Application/Doctor/View/Global/footer.html" />

		</div>
	</body>
</html>
