<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__CSS__/global.css" />
		<link rel="stylesheet" href="__CSS__/detail_hr.css" />
			<script src="__CSS__/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="__CSS__/bower_components/jquery.cookie/jquery.cookie.js"></script>
		<script src="__JS__/lang.js"></script>
	</head>
	<body class="detail_hr">
<!-- <input id="encn_src" type="hidden" value="{:U('Doctor/Manage/encn_init','','')}"/> -->

		<div class="container">
			
		<include file="./Application/Doctor/View/Global/head.html" />
		
	  <div class="location">
			<div class="position">
				<span class="text">首页</span>
				<span class="split">/</span>
				<span class="text">招聘信息</span>
			</div>			
		</div>
		
		<div id="content" class="content">
			<div class="nav">
				<div><img src="__IMG__/kk.png"/>招聘详情</div>
				<div>研发部</div>
				<div>市场部</div>
				<div><strong>生产部</strong></div>
			</div>
			<div class="information">
				<div class="title">质量检验员</div>
				<div class="line"></div>
				<div class="require">
					<div class="">
						<p>岗位职责:</p>
						<p>1、严格依照有关质量检验标准及规章制度进行取样、检验、记录、计算和判定</p>
						<p>2、自觉维护、保养各种检测仪器，并做好使用记录</p>
					</div>
					<div class="">
						<p>任职要求:</p>
						<p>1、电子/生物类相关专业，大专以上学历</p>
						<p>2、2年医疗器械或者电子设备检验岗位工作经验</p>
					</div>
					<div class="">
						<p>工作地点:<strong>杭州</strong></p>
					</div>
					<div class="welfare">
						<p>在创辉，我们为员工提供以下福利待遇:</p>
						<p>1、工作时间：9:00-18:00，周末双休，享有法定假期、带薪年假、婚假、产假等；</p>
						<p>2、入职后缴纳五险一金；</p>
						<p>3、员工享有餐费补贴、下午茶、话费补贴、节日福利；</p>
						<p>4、为了员工的身体健康，公司每年组织定期体检；</p>
						<p>5、为了丰富员工生活，定期组织旅游等活动。</p>
					</div>
					<div><button>现在申请</button></div>
				</div>
				
				
			</div>
		</div>
		
		
<include file="./Application/Doctor/View/Global/footer.html" />

		</div>
	</body>
</html>
