.aboutus .map
{
	width: 90%;
	/*max-width: 1080px;*/
	margin:100px auto 0 auto;
	position:relative;
	/*background:url(../../img/map.jpg) no-repeat;*/
}

.aboutus .map img
{
	width:100%;
}
.aboutus .map div
{
	position:absolute;
	font-weight: 500
}

.aboutus  .container > .content
{
	width:1170px;
	margin:0 auto;
	/*max-width:1080px;*/
}


.aboutus .container > .content .title
{
	/*display:inline-block;*/
	font-size:23px;
}

.aboutus .container > .content .together
{
}

.aboutus .container > .content .together .text
{
	text-indent: 30px;
}

.aboutus .container > .content .ps
{
	text-align:center;
	color:#afadae;
	font-size:12px;
	
}
.aboutus .america
{
	top: 23%;
    left: 13%;
}

.aboutus .sweden
{
	top: 10%;
    left: 42%;
}

.aboutus .hangzhou
{
	top: 31%;
    left: 56%;
}

.aboutus .shenzhen
{
	top: 40%;
    left: 54%;
}

.aboutus .shanghai
{
	top: 32%;
    left: 67%;
}
/*.aboutus .container > .content .ps:before
{
	content:"●";

	font-size:3px;
	color:#878787;
	margin:0 4px; 
	text-align:center;
}*/
