.indexpage .tab
{
	/*background: url(../../img/poster.png) no-repeat;*/
	/*width: 80%;*/
	width:125%;
	margin-left:-12.5%;
    /*max-width: 1080px;*/
    /*margin: 0 auto;*/
    /*height*/
   /*background-size: 100%;*/
   /*height:500px;*/
}

/*.indexpage .tab img
{
	width:100%;
}*/

.indexpage .function
{
	/*width: 80%;*/
	width:125%;
    /*max-width: 1080px;*/
    /*margin:0 auto;*/
   margin-left:-12.5%;
	
	background-color:#e9e9eb;
	/*width:100%;*/
	height:150px;
}
.indexpage .function .icons 
{
	width:600px;
	height:100%;
	margin:0 auto;
}

.indexpage .function .icons div
{
	width:90px;
	height:90px;
	margin:30px;	
	float:left;
}

.indexpage .function .icons .plus
{
	background:url(../../img/plus.png) no-repeat;
	background-size:100% 100%;
}

.indexpage .function .icons .medicine
{
	background:url(../../img/medicine.png) no-repeat;
	background-size:100% 100%;
}

.indexpage .function .icons .earth
{
	background:url(../../img/earth.png) no-repeat;
	background-size:100% 100%;
}

.indexpage .function .icons .person
{
	background:url(../../img/person.png) no-repeat;
	background-size:100% 100%;
}



.indexpage .container > .content
{
	width: 80%;
    /*max-width: 1080px;*/
    margin:0 auto;
    
    /*height:492px;*/‘
    background-color:#f6f6f6;
    
        /*overflow: hidden;*/
}
.new-container{
	width: 125%;
    margin-left: -12.5%;
    background-color: #CBCED5;
    height: 350px;
}
.indexpage .news
{
    overflow: hidden;
    word-break:break-all;
    width: 1170px;
    margin: 0 auto;
    padding-top: 3em; 
}
.indexpage .news a{
	text-decoration: none;
	color: #009fe3;
}
.indexpage .news .leftnews
{
	width: 500px;
	height:320px;
	margin-bottom: 15px;
	float:left;
	
}
.indexpage .news .leftnews .article img{
	position: absolute;
    right: 0;
    top: 60px;
    display: block;
        margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.indexpage .news .leftnews .article p{
	margin-top: 46px;
    width: 276px;
}
.indexpage .news .rightnewses{
	float: right;
	width: 350px;
}
.indexpage .news .article{
	width: 100%;
	height: 100%;
	margin-bottom: 1em;
	position: relative;
}
.indexpage .news .article h3{
	color: #009fe3;
}
.indexpage .news  h1{
	color: #009fe3;
	margin: 0 0 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}
.indexpage .container > .content > .line
{
	width:100%;
	height:2px;
	background-color: #93969f;
	margin-top:25px;
	margin-bottom:25px;
}

.indexpage .piclist
{
	width:80%;
	/*max-width: 1080px;*/
	margin:0 auto;
	
	height:170px;
}

.indexpage .piclist table
{
	width:100%;
	height:100%;
}

.indexpage .piclist div
{
	width:33%;
	height:100%;
	float:left;
}

.indexpage .piclist div:first-child
{
	border-left:1px solid #93969f;
}

.indexpage .piclist div
{
	border-right:1px solid #93969f;
	text-align: center;
	/*vertical-align: center;*/
	/*position:relative;*/
}

.indexpage .piclist div img
{
    width:85%;
    /*position:absolute;
    top:(50%);
    margin-top:-40%;*/
    
    /*margin:0 auto;*/
   /*vertical-align: center;*/
}



.indexpage .tab
{
/*	width:70%;
	width:-moz-calc(100% -170px);
	width:-webkit-calc(100% - 170px);
	width: calc(100% - 170px);
    background-color: white;
    height: inherit;
    float:left;*/
    overflow: hidden;
    position:relative;
}

.indexpage .left-arrow
{
    background: url(../../img/arrow.png);
    width: 30px;
    height: 60px;
    position: absolute;
    top: 45%;
    left: 15px;
    z-index: 100;
    cursor: pointer;
    background-position: 0 100%;
}

.indexpage .right-arrow
{
    background: url(../../img/arrow.png);
    width: 30px;
    height: 60px;
    background-position: 30px 100%;
    position: absolute;
    top: 45%;
    right: 10px;
    z-index: 100;
    cursor: pointer;
}
.indexpage .glyphicon
{
	    font-size: 10px;
    margin-right: 5px;
}
.indexpage .banner
{
	width:100%;
	height:100%;
	position:relative;
}
.indexpage .banner ul
{
	width:100%;
	height:100%;
	list-style: none;
	position:relative;
	padding:0;
}
.indexpage .banner li
{
	width:100%;
	height:100%;
	position:absolute;
}

.indexpage .banner li .title1
{
	position: absolute;
    top: 0.5%;
    left: 27%;
    font-size: 36px;
    color: deepskyblue;
    text-decoration: none;
    
}
.indexpage .banner li .title2
{
    position: absolute;
    top: 0%;
    left: 27%;
    font-size: 36px;
    color: deepskyblue;
    text-decoration: none;
}
.indexpage .banner li .title3
{
    position: absolute;
    top: 44%;
    left: 39%;
    width: 22%;
    font-size: 36px;
    color: deepskyblue;
    text-decoration: none;
    text-align: center;
}
.indexpage .banner li .subtitle1
{
	position: absolute;
	top: 15%;
    left: 27%;
    font-size: 20px;
}
/*.indexpage .banner li .subtitle2
{
    position: absolute;
    top: 33%;
    left: 10%;
    font-size: 25px;
}*/
.indexpage .banner li .subtitle3
{
    position: absolute;
    top: 14%;
    left: 27%;
    font-size: 20px;
    color: white;
}
.indexpage .banner li img
{
	width:100%;
	/*height:100%;*/
}

.detail_nav_container{
	width: 125%;
    height: 50px;
    margin-left: -12.5%;
    padding-top: 0px;
    background-color: #eee;
}


.detail_container{
	display: block;
	width: 1170px;
	height: 360px;
    margin: 0 auto;
}

.detail_nav_container .chose_tab{
	width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.detail_nav_container .chose_tab li{
	width: 25%;
	height: 100%;
}

.detail_nav_container .chose_tab li a{
	text-align: center;
    height: 100%;
    position: relative;
    float: left;
    display: table;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.detail_nav_container .chose_tab li a span{
	text-align: center;
    text-decoration: none;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.detail_container .tab-pane .content-text{
	overflow: hidden;
    text-align: center;
}
.detail_container .tab-pane .content-text h2{
	font-size: 42px;
        margin-top: 15px;
    margin-bottom: 3px;
    color: #333;
}

.detail_container .tab-pane .content-text p{
	font-size: 14px;
    line-height: 30px;
}
.detail_container .tab-pane .content-item{
	width: 100%;
}
.detail_container .tab-pane .content-item .row{
	 margin: 0;
    padding: 0;
	margin-left: -15px;
    margin-right: -15px;
   
        list-style-type: none;
}
.detail_container .tab-pane .content-item .row li{
	padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    position: relative;
    width: 22%;
    height: ;
    float: left;
}

.detail_container .tab-pane .content-item .row li a{
	display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none!important;
}
.detail_container .tab-pane .content-item .row li a .item-image img{
	width: 100%;
	height:144px;
}

.detail_container .tab-pane .content-item .row li a .item-text{
	position: relative;
    left: 0px;
    bottom: 0px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/*bootstrap stuff*/
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
nav{
	display: block;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  #009fe3
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;	
  background-color: #fff;
  border-bottom-color: transparent;
}


.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}