.banner{
	width: 80%;
    margin: 0 auto;
    margin-bottom: 55px;
    margin-top: 5px;
    text-align: center;
}

.banner .title{
	font-size: 50px;
	
}
.banner .subtitle{
	
}
.banner-container{
	width: 100%;
}
.content .bgcontainer{
	width: 100%;
	    padding-top: 5px;
	box-shadow: 0px 1px 1.5px 1px rgba(217, 220, 226, 0.23);
}
.content .produc-bg{
	width: 1170px;
    margin: 0 auto;
    height: 300px;
}
.content .produc-bg h2{
	width: 65%;
	margin: 8px auto;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
}
.content .produc-bg .product-left{
	float: left;
    height: 100%;
    width: 50%;
    right: 50%;
    text-align:center;
}
.content .produc-bg .product-right{
	float: left;
    height: 100%;
    width: 50%;
    left: 50%;
    text-align:center;
}
.content .produc-bg p{
	word-break: break-word;
	width: 65%;
	margin: 0 auto;
	font-size: 14px;
    line-height: 20px;
    color: #767676;
    padding-top: 24px;
    text-align:left;
}
.content .produc-bg p>a{
	text-decoration: none;
	color: #2AABD2;
}
.content .produc-bg img{
	display: block;
    margin: 0 auto;
    margin-top: 8%;
    width: 325px;
    height: 198px;
}
