.banner{
	width: 80%;
    margin: 0 auto;
    margin-bottom: 55px;
    margin-top: 5px;
    text-align: center;
}

.banner .title{
	font-size: 50px;
	
}
.banner .subtitle{
	
}
.banner-container{
	width: 100%;
}
.content .bgcontainer{
	width: 100%;
	    padding-top: 5px;
	box-shadow: 0px 1px 1.5px 1px rgba(217, 220, 226, 0.23);
}
.content .produc-bg{
	width: 80%;
    margin: 0 auto;
    height: 300px;
}
.content .produc-bg img{
	margin: 44px; 
}
.content .produc-bg h2{
	width: 65%;
	margin: 8px auto;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
}
.content .produc-bg .product-left{
	float: left;
    height: 100%;
    width: 50%;
    right: 50%;
    text-align:center;
}
.content .produc-bg .product-right{
	float: left;
    height: 100%;
    width: 50%;
    left: 50%;
    text-align:center;
}
.content .produc-bg p{
	width: 65%;
	margin: 0 auto;
	word-break: break-word;
	font-size: 14px;
    line-height: 20px;
    color: #767676;
    padding-top: 24px;
    text-align:left;
}
.content .produc-bg p>a{
	text-decoration: none;
	color: #2AABD2;
}

.detail_nav_container{
	width: 100%;
    height: 70px;
    padding-top: 0px;
    
    background-color: #CBCED5;
}


.detail_container{
	display: block;
	width: 100%;
	height: 650px;
	padding-bottom: 195px;
}

.detail_nav_container .chose_tab{
	width: 80%;
    height: 100%;
    margin: 0 auto;
}

.detail_nav_container .chose_tab li{
	width: 33.3%;
	height: 100%;
}

.detail_nav_container .chose_tab li a{
	text-align: center;
    height: 100%;
    position: relative;
    float: left;
    display: table;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}

.detail_nav_container .chose_tab li a span{
	text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}




/*bootstrap stuff*/
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
nav{
	display: block;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}


.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}