<div id="footer" class="footer">
			<div class="footer_content">
			<div class="text">
				<div>
					<div class="title">按访问者</div>
					<div class="info">
						<div>个人用户</div>
						<div>企业用户</div>
						<div>新闻媒体</div>
						<div><a href="{:U('Doctor/Recruitment/hr','','')}">求职者</a></div>
					</div>
				</div>
				<div>
					<div class="title">关于创辉</div>
					<div class="info">
						<div><a href="{:U('Doctor/Aboutus/aboutus1','','')}">企业简介</a></div>
						<div><a href="{:U('Doctor/Aboutus/aboutus3','','')}">企业资质</a></div>
						<div><a href="{:U('Doctor/Index/partner','','')}">合作伙伴</a></div>
						<div><a href="{:U('Doctor/Solution/solution3','','')}">经典案例</a></div>
					</div>
				</div>
				<div>
					<div class="title">联系创辉</div>
					<div class="info">
						<div>公司总部</div>
						<div>办事处</div>
						<div>代理商</div>
						<div>如何购买</div>
					</div>
				</div>
				<div>
					<div class="title">新闻与展会</div>
					<div class="info">
						<div><a href="{:U('Doctor/News/newscenter1','','')}">新闻</a></div>
						<div><a href="{:U('Doctor/News/newscenter3','','')}">展会</a></div>
					</div>
				</div>
			</div>
			
			<div class="pic">
				<div class="qr"></div>
				<div class="contact">
					<div><label>手机</label>：<label>18094783023</label></div>
					<div><label>电话</label>：<label>0571-28810296</label></div>
					<div><label>邮件</label>：<label>marketing@chuanghuitech.com</label></div>
					<div><label>地址</label>：<label>杭州市江干区天城路6号迈达商业中心3号楼721室</label></div>
					
				</div>
			</div>
			<div class="icp"><label>版权所有：创辉医疗&nbsp;&nbsp;</label><label>ICP备案号</label>：<label>浙ICP备16020901号-1     &nbsp;&nbsp;<img src="__IMG__/gongan.png"/>浙公网安备&nbsp;33010402001620号</label>
			</div>
			</div>
		</div>