<div id="footer" class="footer">
			<div class="footer_content">
			<div class="text">
				<div>
					<div class="title">按访问者</div>
					<div class="info">
						<div>个人用户</div>
						<div>企业用户</div>
						<div>新闻媒体</div>
						<div>求职者</div>
					</div>
				</div>
				<div>
					<div class="title">关于创辉</div>
					<div class="info">
						<div>企业简介</div>
						<div>企业资质</div>
						<div>合作伙伴</div>
						<div>经典案例</div>
					</div>
				</div>
				<div>
					<div class="title">联系创辉</div>
					<div class="info">
						<div>公司总部</div>
						<div>办事处</div>
						<div>代理商</div>
						<div>如何购买</div>
					</div>
				</div>
				<div>
					<div class="title">新闻与展会</div>
					<div class="info">
						<div>新闻</div>
						<div>展会</div>
					</div>
				</div>
			</div>
			
			<div class="pic">
				<div class="qr"></div>
				<div class="contact">
					<div><label>联系</label>：<label>15988166414</label></div>
					<div><label>传真</label>：<label>1234567</label></div>
					<div><label>邮件</label>：<label>wlmnzf@126.com</label></div>
					<div><label>地址</label>：<label>浙江省杭州市XX区XX号</label></div>
				</div>
			</div>
			
			</div>
		</div>