	<div id="head" class="head">
		<input id="encn_src" type="hidden" value="{:U('Doctor/Index/get_encn','','')}"/>
		<input id="targetLang" type="hidden" value="{$targetLang}">
		<input id="css_src" type="hidden" value="__CSS__">
        <!-- <input id="encn_val" type="hidden" value="{$encn_json}"/> -->

			 <div class="top"></div>
			 <div class="line">
				 <div class="language"><label class="en">English</label>/<label class="cn current">中文</label></div>
				 <div class="information">
				    <a a href="{:U('Doctor/Index/index','','')}"><div class="logo"></div></a>
				 	<div class="nav">
				 		<a href="{:U('Doctor/Index/index','','')}"><div>首页</div></a>
				 		<div><a href="{:U('Doctor/Aboutus/aboutus1','','')}" class="fucing-a"><div>关于我们</div></a>
				 		   <div class="showtab">
				 		   	<div class="content">
				 		   	  <div class="one gaikuangtab">
				 		   	  	<h2>公司概况</h2>
				 		   	      <ul>
						 		   	   <li><a href="{:U('Doctor/Aboutus/aboutus1','','')}">企业简介</a></li>
						 		   	   <li><a href="{:U('Doctor/Aboutus/aboutus2','','')}">企业荣誉</a></li>
						 		   	   <li><a href="{:U('Doctor/Aboutus/aboutus3','','')}">企业资质</a></li>
						 		   </ul>
				 		   	  </div>
				 		     </div>
				 		   </div>
				 		   <!---->
				 		</div>
				 		<div><a href="{:U('Doctor/Productinfo/ProductInfo','','')}" class="fucing-a"><div>产品信息</div></a>
				 			<div class="showtab">
				 		   	<div class="content">
					 			<div class="one protab">
					 				<h2>电子内窥镜</h2>
					 		   	    <ul>
						 		   	   <li><a href="{:U('Doctor/Productinfo/info2','','')}">可视喉镜</a></li>
						 		   </ul>

					 		   	</div>
					 		   	
					 		   	<div class="one">
					 				<h2>生理体征监测</h2>
					 		   	    <ul>
						 		   	   <li><a href="{:U('Doctor/Productinfo/info4','','')}">主动式体温贴</a></li>
						 		   	   <!-- <li><a href="{:U('Doctor/Productinfo/info3','','')}">输液监控</a></li> -->
						 		    </ul>
				 		   	    </div>
				 		   	    
				 		   	    <div class="one">
					 				<h2>压力监测</h2>
					 		   	    <ul>
						 		   	   <li><a href="{:U('Doctor/Productinfo/info1','','')}">肺功能计</a></li>
						 		    </ul>
				 		   	    </div>
				 		   	</div>
				 		   	</div>
				 		</div>
				 		<div><a href="{:U('Doctor/Solution/solutionmain','','')}" class="fucing-a"><div>解决方案</div></a>
				 			<div class="showtab">
					 		   	<div class="content">
						 			<div class="one solutab">
						 				<h2>内窥镜方案</h2>
								 		    <ul>
								 		   	   <li><a href="{:U('Doctor/Solution/solution1','','')}">超微型电子内窥镜</a></li>
								 		   	   <li><a href="{:U('Doctor/Solution/solution1_1','','')}">高清电子内窥镜</a></li>
								 		   </ul>
							 		 </div>
							 		 
							 		 <div class="one">
						 				<h2>环境温湿度方案</h2>
								 		    <ul>
								 		   	   <li><a href="{:U('Doctor/Solution/solution2','','')}">环境温湿度监控系统</a></li>
								 		   	   <li><a href="{:U('Doctor/Solution/solution3','','')}">智能冷链监控系统</a></li>
								 		   </ul>
							 		 </div>

							 		  <div class="one">
						 				<h2>压力监测方案</h2>
								 		    <ul>
								 		   	   <li><a href="{:U('Doctor/Productinfo/info3','','')}">输液监控</a></li>
								 		   </ul>
							 		 </div>


							 	</div>
						 	</div>
				 		</div>
				 		<a href="{:U('Doctor/Index/partner','','')}"><div>合作伙伴</div></a>
				 		<a href="{:U('Doctor/Recruitment/hr','','')}"><div>招聘信息</div></a>
				 	</div>
				 </div>
			 </div>
		</div>
		
	<div id="goTopBtn">
		<a href="#" class="go-top">
			<span class="iconfont">&#xe6a3;</span>
		</a>
	</div>	